Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

.lintstagedrc.yml:

'*.css':
  - 'yarn prettier --write'
  - 'yarn stylelint --fix'
'*.{js,ts,tsx}':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
  - 'jest --bail --findRelatedTests --config .jestrc.json'
'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'*ignore-sync':
  - 'ignore-sync'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

chore(deps): update dependency postcss to v8.2.6
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency typescript to v4.1.5
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency stylelint to v13.10.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix: editor does not show in correct location
  src/popup/components/BookmarkTree/useRowClickEvents.ts
  src/popup/components/BookmarkTrees/withKeyboardNav.tsx
  src/popup/components/menu/MenuContainer.tsx
  src/popup/components/menu/useMenu.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency @babel/core to v7.12.16
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/react to v17.0.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: loosen csp
  src/manifest.yml
Due: yarn prettier --write

chore(deps): update dependency @testing-library/user-event to v12.7.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/react-dom to v17.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.20.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency html-webpack-plugin to v5.1.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/node to v14.14.28
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: simplify code
  src/options/components/App/globals.css
  src/options/components/App/index.tsx
  src/options/components/App/styles.css
  src/popup/components/App/app.css
  src/popup/components/App/globals.css
  src/popup/components/App/index.tsx
  src/popup/components/BookmarkTrees/BookmarkTrees.tsx
  src/popup/components/BookmarkTrees/bookmark-trees.css
  src/popup/components/absolutePosition/AbsolutePosition.css
  src/popup/components/absolutePosition/AbsolutePosition.tsx
  src/popup/components/absolutePosition/useGlobalBodySize.ts
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: code cleanup
  src/popup/components/menu/useMenu.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fixup! fix: cannot click first menu item
  src/popup/components/menu/MenuContainer.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: rewrite keyBindings module
  src/popup/components/App/index.tsx
  src/popup/components/BookmarkTrees/index.tsx
  src/popup/components/BookmarkTrees/withKeyboardNav.tsx
  src/popup/components/Search/index.tsx
  src/popup/components/editor/Editor.tsx
  src/popup/components/keyBindings/KeyBindingsContext.ts
  src/popup/components/keyBindings/KeyBindingsWindow.tsx
  src/popup/components/keyBindings/index.ts
  src/popup/components/keyBindings/reducers/keyBindingsPerWindow.ts
  src/popup/components/keyBindings/reducers/windows.ts
  src/popup/components/keyBindings/types.ts
  src/popup/components/keyBindings/useKeyBindingsEvent.ts
  src/popup/components/listNavigation/useKeyboardNav.ts
  src/popup/components/menu/MenuContainer.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency type-coverage to v2.15.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency react-query to v3.9.8
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: rewrite listNavigation component
  src/popup/components/BookmarkTree/index.tsx
  src/popup/components/BookmarkTrees/withKeyboardNav.tsx
  src/popup/components/listNavigation/ListNavigationContext.ts
  src/popup/components/listNavigation/reducers/lists.ts
  src/popup/components/listNavigation/useKeyboardNav.ts
  src/popup/components/menu/MenuContainer.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: inline some event listeners
  src/core/components/baseItems/ActionlessForm/index.tsx
  src/options/components/OptionForm/OptionItem/SelectButton/Option/index.tsx
  src/popup/components/BookmarkTrees/withDragAndDropEvents.tsx
  src/popup/components/editor/Editor.tsx
  src/popup/components/keyBindings/KeyBindingsWindow.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: remove unused file
  src/popup/hooks/useMapDispatchToCallback.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fixup! chore(deps): lock file maintenance
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

style: avoid using arrow function for export default
  src/core/hooks/useAction.ts
  src/core/utils/getOptionsConfig.ts
  src/options/components/App/index.tsx
  src/options/components/Contributors.tsx
  src/options/components/Donate.tsx
  src/options/components/OptionForm/OptionItem/InputNumber/index.tsx
  src/options/components/OptionForm/OptionItem/InputSelect/index.tsx
  src/options/components/OptionForm/OptionItem/SelectButton/Option/index.tsx
  src/options/components/OptionForm/OptionItem/SelectButton/index.tsx
  src/options/components/OptionForm/OptionItem/SelectMultiple/index.tsx
  src/options/components/OptionForm/OptionItem/SelectString/index.tsx
  src/options/components/OptionForm/index.tsx
  src/popup/components/App/index.tsx
  src/popup/components/BookmarkTree/BookmarkRow/index.tsx
  src/popup/components/BookmarkTree/BookmarkRow/useTooltip.ts
  src/popup/components/BookmarkTree/BookmarkTree.tsx
  src/popup/components/BookmarkTree/NoSearchResult.tsx
  src/popup/components/BookmarkTree/TreeHeader.tsx
  src/popup/components/BookmarkTree/index.tsx
  src/popup/components/BookmarkTrees/BookmarkTrees.tsx
  src/popup/components/BookmarkTrees/useBookmarkEvents.ts
  src/popup/components/Search/index.tsx
  src/popup/components/absolutePosition/AbsolutePosition.tsx
  src/popup/components/absolutePosition/useGlobalBodySize.ts
  src/popup/components/dragAndDrop/DragAndDropConsumer.tsx
  src/popup/components/dragAndDrop/useDragAndDropContainerEvents.ts
  src/popup/components/keyBindings/KeyBindingsWindow.tsx
  src/popup/components/keyBindings/useKeyBindingsEvent.ts
  src/popup/components/menu/Menu.tsx
  src/popup/components/menu/MenuContainer.tsx
  src/popup/components/menu/MenuRow.tsx
  src/popup/utils/cycle.ts
  src/popup/utils/deleteFromMap.ts
  src/popup/utils/getLastMapKey.ts
  src/popup/utils/isMac.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

style: align component naming
  src/popup/components/App/index.tsx
  src/popup/components/BookmarkTree/BookmarkRow/BookmarkRow.tsx
  src/popup/components/BookmarkTrees/index.tsx
  src/popup/components/BookmarkTrees/withKeyboardNav.tsx
  src/popup/components/menu/MenuContainer.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: centralize component exports in index file
  src/popup/components/App/index.tsx
  src/popup/components/BookmarkTree/BookmarkRow/index.tsx
  src/popup/components/BookmarkTree/BookmarkTree.tsx
  src/popup/components/BookmarkTree/index.tsx
  src/popup/components/BookmarkTree/useRowDragEvents.ts
  src/popup/components/BookmarkTree/useRowHoverEvents.ts
  src/popup/components/BookmarkTrees/withDragAndDropEvents.tsx
  src/popup/components/BookmarkTrees/withKeyboardNav.tsx
  src/popup/components/absolutePosition/index.ts
  src/popup/components/dragAndDrop/DragAndDropConsumer.tsx
  src/popup/components/dragAndDrop/index.ts
  src/popup/components/dragAndDrop/types.ts
  src/popup/components/editor/Editor.tsx
  src/popup/components/listNavigation/index.ts
  src/popup/components/menu/MenuContainer.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: avoid using Array.reduce
  scripts/generateLocalesFromTransifex.ts
  webpack.config.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json
