Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

.lintstagedrc.yml:

'*.css':
  - 'yarn prettier --write'
  - 'yarn stylelint --fix'
'*.{js,ts,tsx}':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
  - 'jest --bail --findRelatedTests --config .jestrc.json'
'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'*ignore-sync':
  - 'ignore-sync'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

build: use es2020 for terser
  webpack.config.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency postcss-preset-env to v7.4.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency react-hook-form to v7.28.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency @testing-library/jest-dom to v5.16.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/react to v17.0.43
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: use newer :is to replace :matches
  src/options/components/NavBar/styles.module.css
Due: yarn prettier --write, yarn stylelint --fix

chore!: require chrome >= 88
  .swcrc
  package.json
  src/options/components/App/globals.module.css
  src/popup/modules/bookmarks/methods/openBookmark.ts
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update dependency prettier to v2.6.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency stylelint to v14.6.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency typescript to v4.6.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency react-query to v3.34.19
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency webextension-polyfill to v0.9.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency @fontsource/archivo-narrow to v4.5.7
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency nanoid to v3.3.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v8.12.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency postcss-import to v14.1.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency react-hook-form to v7.29.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update react monorepo to v18
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): upgrade to react 18
  package.json
  src/core/utils/createAndRenderRoot.ts
  src/core/utils/index.ts
  src/core/utils/renderToBody.ts
  src/options/index.tsx
  src/popup/index.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update dependency @types/ramda to v0.28.7
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @testing-library/user-event to v14
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update dependency @testing-library/user-event to v14
  package.json
  src/core/components/baseItems/ActionlessForm/index.test.tsx
  src/core/components/baseItems/Button/index.test.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

refactor: drop redux and redux-saga
  package.json
  src/core/hooks/useAction.ts
  src/core/store/configureStore.ts
  src/core/utils/index.ts
  src/core/utils/webExtensionWrapper.ts
  src/popup/components/App/index.tsx
  src/popup/components/BookmarkTree/index.tsx
  src/popup/components/BookmarkTree/useRowClickEvents.ts
  src/popup/components/BookmarkTree/useRowDragEvents.ts
  src/popup/components/BookmarkTree/useRowHoverEvents.ts
  src/popup/components/BookmarkTrees/index.tsx
  src/popup/components/BookmarkTrees/useBookmarkEvents.ts
  src/popup/components/BookmarkTrees/withDragAndDropEvents.tsx
  src/popup/components/BookmarkTrees/withKeyboardNav.tsx
  src/popup/components/Search/index.tsx
  src/popup/components/menu/MenuContainer.tsx
  src/popup/index.tsx
  src/popup/modules/bookmarks/contexts/bookmarkTrees.ts
  src/popup/modules/bookmarks/index.ts
  src/popup/modules/bookmarks/methods/getBookmark.ts
  src/popup/modules/bookmarks/utils/generators.ts
  src/popup/reduxs/bookmark/actions.ts
  src/popup/reduxs/bookmark/reducer.ts
  src/popup/reduxs/bookmark/saga/index.ts
  src/popup/reduxs/bookmark/saga/modules/getSearchResult.ts
  src/popup/reduxs/bookmark/saga/modules/initBookmarkTrees.ts
  src/popup/reduxs/bookmark/saga/modules/moveBookmarkToDragIndicator.ts
  src/popup/reduxs/bookmark/saga/modules/openBookmarkTree.ts
  src/popup/reduxs/bookmark/saga/modules/refreshBookmarkTrees.ts
  src/popup/reduxs/bookmark/saga/modules/toggleBookmarkTree.ts
  src/popup/reduxs/bookmark/saga/utils/getters.ts
  src/popup/reduxs/bookmark/utils/converters.ts
  src/popup/reduxs/index.ts
  src/popup/reduxs/options/reducer.ts
  src/popup/reduxs/rootReducer.ts
  src/popup/reduxs/rootSaga.ts
  webpack.config.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update dependency @foray1010/stylelint-config to v5.0.5
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json
