Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

.lintstagedrc.yml:

'*.css':
  - 'yarn prettier --write'
  - 'yarn stylelint --fix'
'*.{js,ts,tsx}':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
  - 'jest --bail --findRelatedTests --config .jestrc.json'
'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'*ignore-sync':
  - 'ignore-sync'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

refactor: move @font-face above all selectors
  src/core/styles/globals.css
Due: yarn prettier --write, yarn stylelint --fix

chore(deps): update dependency webpack to v5
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @svgr/webpack to v5.5.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency webpack to v5
  package.json
  tsconfig.json
  webpack.config.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update dependency @foray1010/eslint-config to v4.4.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency ignore-sync to v3.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency sharp to v0.26.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update @foray1010/common-presets monorepo
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency stylelint to v13.8.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency react-virtual to v2.3.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: use react jsx-runtime
  package.json
  src/core/components/baseItems/__tests__/ActionlessForm.test.tsx
  src/core/components/baseItems/__tests__/Button.test.tsx
  src/options/components/App.tsx
  src/options/components/Donate.tsx
  src/options/components/ExternalLink.tsx
  src/options/components/NavBar/NavBar.tsx
  src/options/components/NavBar/index.tsx
  src/options/components/NavModuleMapper.tsx
  src/options/components/OptionForm/OptionForm.tsx
  src/options/components/OptionForm/OptionItem.tsx
  src/options/components/inputItems/SelectButton/index.tsx
  src/options/components/inputItems/SelectMultiple/index.tsx
  src/popup/components/App/App.tsx
  src/popup/components/BookmarkTree/NoSearchResult.tsx
  src/popup/components/BookmarkTree/TreeHeader.tsx
  src/popup/components/BookmarkTrees/index.tsx
  src/popup/components/Menu/Menu.tsx
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update dependency copy-webpack-plugin to v6.3.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency type-coverage to v2.14.5
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/node to v14.14.9
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency postcss-loader to v4.1.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: update lint-staged config
  .lintstagedrc.js
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency prettier to v2.2.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency nanoid to v3.1.18
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update dependency prettier to v2.2.0
  src/core/types/svg.d.ts
  src/popup/reduxs/bookmark/saga/utils/getters.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency @testing-library/react to v11.2.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.14.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: use schema for config files
  .commitlintrc.json
  .commitlintrc.yml
  .huskyrc.json
  .huskyrc.yml
  .renovaterc.json
  package.json
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update babel monorepo
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency postcss to v8.1.10
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat: support Spanish locale (thanks cyanine)
  src/core/_locales/es_ES/messages.json
  src/options/components/Contributors.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: fix grammar in contributor page
  src/options/components/Contributors.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json
