Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --parser json --write, prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, markdownlint, ignore-sync

.lintstagedrc.yml:

ignore:
  - 'flow-typed/**'
  - 'markdown/**'
linters:
  '.babelrc':
    - 'prettier-eslint --parser json --write'
    - 'git add'
  '*.css':
    - 'prettier-eslint --write'
    - 'stylelint --fix'
    - 'git add'
  '*.{js,ts,tsx}':
    - 'import-sort --write'
    - 'prettier-eslint --write'
    - 'eslint --fix'
    - 'jest --bail --findRelatedTests --config .jestrc.json'
    - 'git add'
  '*.{json,yaml,yml}':
    - 'prettier-eslint --write'
    - 'git add'
  '*.md':
    - 'markdownlint'
  '*ignore-sync':
    - 'ignore-sync'
    - 'git add'

chore(deps): update dependency lint-staged to v9.1.0
  package.json
  yarn.lock
Due: prettier-eslint --write

fix(deps): update dependency react-window to v1.8.5
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/node to v12.6.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency webpack to v4.35.3
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/node to v12.6.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency postcss-preset-env to v6.7.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency typescript to v3.5.3
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @babel/core to v7.5.4
  package.json
  yarn.lock
Due: prettier-eslint --write

fix(deps): update dependency redux to v4.0.3
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/node to v12.6.2
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency lint-staged to v9.2.0
  package.json
  yarn.lock
Due: prettier-eslint --write

style: follow eslint rule: no-underscore-dangle
  src/popup/components/BookmarkTree/BookmarkTree.tsx
  src/popup/components/BookmarkTree/useRowHoverEvents.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore: upgrade all dependencies
  package.json
  src/options/utils/index.ts
  yarn.lock
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency script-ext-html-webpack-plugin to v2.1.4
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/html-webpack-plugin to v3.2.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/webpack to v4.4.35
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/script-ext-html-webpack-plugin to v2.1.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency webpack-cli to v3.3.6
  package.json
  yarn.lock
Due: prettier-eslint --write

fix: properly polyfill ResizeObserver on chrome < 64
  src/popup/index.tsx
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(release): 6.2.1
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

docs: remove technical changelog
  CHANGELOG.md
Due: markdownlint

chore(deps): update dependency @types/node to v12.6.3
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/webpack-bundle-analyzer to v2.13.2
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update commitlint monorepo to v8.1.0
  package.json
  yarn.lock
Due: prettier-eslint --write
