Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --parser json --write, prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, markdownlint, ignore-sync

.lintstagedrc.yml:

ignore:
  - 'flow-typed/**'
  - 'markdown/**'
linters:
  '.babelrc':
    - 'prettier-eslint --parser json --write'
    - 'git add'
  '*.css':
    - 'prettier-eslint --write'
    - 'stylelint --fix'
    - 'git add'
  '*.{js,ts,tsx}':
    - 'import-sort --write'
    - 'prettier-eslint --write'
    - 'eslint --fix'
    - 'jest --bail --findRelatedTests --config .jestrc.json'
    - 'git add'
  '*.{json,yaml,yml}':
    - 'prettier-eslint --write'
    - 'git add'
  '*.md':
    - 'markdownlint'
  '*ignore-sync':
    - 'ignore-sync'
    - 'git add'

chore(deps): update dependency @types/node to v11.13.10
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency webpack-cli to v3.3.2
  package.json
  yarn.lock
Due: prettier-eslint --write

fixup! refactor: use css custom properties to replace styled-components (#441)
  src/js/popup/components/absolutePosition/useGlobalBodySize.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency @types/webpack to v4.4.30
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency jest to v24.8.0
  package.json
  yarn.lock
Due: prettier-eslint --write

refactor: only use main tag once
  src/js/popup/components/App/App.tsx
  src/js/popup/components/Mask.tsx
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: format locales json
  src/_locales/de/messages.json
  src/_locales/fr/messages.json
  src/_locales/nl/messages.json
  src/_locales/vi/messages.json
Due: prettier-eslint --write

feat: support Swedish locale (thanks Bosse Johansson)
  CHANGELOG.md
  src/_locales/sv/messages.json
Due: prettier-eslint --write, markdownlint

chore(deps): update dependency @types/fs-extra to v5.1.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/webpack to v4.4.31
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency clean-webpack-plugin to v2.0.2
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update commitlint monorepo to v7.6.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/react to v16.8.17
  package.json
  yarn.lock
Due: prettier-eslint --write

perf: properly add key for BookmarkRow
  src/js/popup/components/BookmarkTree/BookmarkTree.tsx
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency @commitlint/cli to v7.6.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency webpack to v4.31.0
  package.json
  yarn.lock
Due: prettier-eslint --write

fix(deps): update dependency typesafe-actions to v4.2.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: yarn upgrade
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency fs-extra to v8
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency babel-loader to v8.0.6
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency markdownlint-cli to v0.16.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): lock file maintenance
  yarn.lock
Due: none

refactor: extract useEventListener hook
  src/js/popup/components/App/useGlobalEvents.ts
  src/js/popup/components/dragAndDrop/DragAndDropProvider.tsx
  src/js/popup/components/keyBindings/KeyBindingsProvider.tsx
  src/js/popup/hooks/useEventListener.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

feat: scroll by putting mouse on edge while dragging
  src/js/popup/components/BookmarkTree/BookmarkTree.tsx
  src/js/popup/components/dragAndDrop/useDragAndDropContainerEvents.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

feat: disable warning when opening multiple tabs
  src/js/popup/reduxs/bookmark/saga/modules/openBookmarksInBrowser.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

feat: open folder by click
  src/js/popup/components/BookmarkTree/index.tsx
  src/js/popup/components/BookmarkTree/useRowClickEvents.ts
  src/js/popup/components/BookmarkTree/useRowHoverEvents.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency @types/node to v12.0.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency fs-extra to v8.0.1
  package.json
  yarn.lock
Due: prettier-eslint --write
