Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --parser json --write, prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, markdownlint, ignore-sync

.lintstagedrc.yml:

ignore:
  - 'flow-typed/**'
  - 'markdown/**'
linters:
  '.babelrc':
    - 'prettier-eslint --parser json --write'
    - 'git add'
  '*.css':
    - 'prettier-eslint --write'
    - 'stylelint --fix'
    - 'git add'
  '*.{js,ts,tsx}':
    - 'import-sort --write'
    - 'prettier-eslint --write'
    - 'eslint --fix'
    - 'jest --bail --findRelatedTests --config .jestrc.json'
    - 'git add'
  '*.{json,yaml,yml}':
    - 'prettier-eslint --write'
    - 'git add'
  '*.md':
    - 'markdownlint'
  '*ignore-sync':
    - 'ignore-sync'
    - 'git add'

chore: remove store package
  package.json
  yarn.lock
Due: prettier-eslint --write

refactor: remove dependency on react-event-listener
  package.json
  src/js/popup/components/GlobalKeyboardEventListener.tsx
  src/js/popup/components/dragAndDrop/DragAndDropProvider.tsx
  yarn.lock
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency stylelint-processor-styled-components to v1.6.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/node to v11.12.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/react to v16.8.10
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/sharp to v0.22.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update react monorepo to v16.8.6
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/node to v11.12.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(package): yarn upgrade
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: remove unused fields in package.json
  package.json
Due: prettier-eslint --write

chore: tune js minifier
  webpack.config.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency @types/react-redux to v7.0.6
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: remove dependency on babel-core bridge
  package.json
  yarn.lock
Due: prettier-eslint --write

refactor: use core-js 3
  package.json
  src/js/options/index.tsx
  src/js/popup/index.tsx
  yarn.lock
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

perf: drop chrome < 55
  CHANGELOG.md
  package.json
  src/js/popup/components/BookmarkTree/useRowClickEvents.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, markdownlint

fix: keep resizing in options page with long option description
  CHANGELOG.md
  package.json
  src/css/options/nav-bar.css
  src/css/options/option-item.css
Due: prettier-eslint --write, stylelint --fix, markdownlint

chore(deps): update dependency eslint to v5.16.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/node to v11.12.2
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: remove unused webpack optimization
  webpack.config.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

feat: use default cancel button for search
  src/css/popup/globals.css
  src/css/popup/search.css
  src/img/cancel.png
Due: prettier-eslint --write, stylelint --fix

feat: new folder & search icons
  .jestrc.json
  CHANGELOG.md
  src/css/popup/search.css
  src/img/folder.png
  src/img/folder.svg
  src/img/search.png
  src/img/search.svg
  src/js/common/types/png.d.ts
  src/js/common/types/svg.d.ts
  src/js/popup/components/Search/Search.tsx
  src/js/popup/reduxs/bookmark/utils/converters.ts
  webpack.config.ts
Due: prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, markdownlint

fix: cannot drop bookmark
  src/js/popup/components/dragAndDrop/DragAndDropProvider.tsx
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

style: use OPTIONS enum
  src/js/popup/components/App/index.tsx
  src/js/popup/components/BookmarkTree/index.tsx
  src/js/popup/components/BookmarkTrees/BookmarkTrees.tsx
  src/js/popup/components/Editor/index.tsx
  src/js/popup/reduxs/bookmark/saga/modules/getSearchResult.test.ts
  src/js/popup/reduxs/bookmark/saga/modules/getSearchResult.ts
  src/js/popup/reduxs/bookmark/saga/modules/initBookmarkTrees.test.ts
  src/js/popup/reduxs/bookmark/saga/modules/initBookmarkTrees.ts
  src/js/popup/reduxs/bookmark/saga/modules/refreshBookmarkTrees.test.ts
  src/js/popup/reduxs/bookmark/saga/utils/getters.test.ts
  src/js/popup/reduxs/bookmark/saga/utils/getters.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: use onAuxClick react prop
  src/js/popup/components/BookmarkTree/BookmarkRow.tsx
  src/js/popup/components/BookmarkTree/BookmarkTree.tsx
  src/js/popup/components/BookmarkTree/useRowClickEvents.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

feat: support tooltip
  src/js/popup/components/BookmarkTree/BookmarkRow/BookmarkRow.tsx
  src/js/popup/components/BookmarkTree/BookmarkRow/index.tsx
  src/js/popup/components/BookmarkTree/BookmarkRow/useTooltip.ts
  src/js/popup/components/BookmarkTree/BookmarkTree.tsx
  src/js/popup/components/BookmarkTree/index.tsx
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: remove homebrew type BookmarkNode
  src/js/popup/reduxs/bookmark/saga/__fixtures__/bookmarkNodes.ts
  src/js/popup/reduxs/bookmark/saga/modules/pasteBookmark.ts
  src/js/popup/reduxs/bookmark/saga/utils/__snapshots__/getters.test.ts.snap
  src/js/popup/reduxs/bookmark/utils/converters.ts
  src/js/popup/types/index.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: code cleanup
  src/js/popup/types/index.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: use lower case for changelog
  CHANGELOG.md
Due: markdownlint

chore(deps): update dependency @types/firefox-webext-browser to v65.0.3
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/node to v11.13.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency jest to v24.6.0
  package.json
  yarn.lock
Due: prettier-eslint --write
