Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

chore(deps): update dependency webpack to v5.10.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency mini-css-extract-plugin to v1.3.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency postcss to v8.1.14
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.5.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/node to v14.14.10
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: replace classnames by clsx
  package.json
  src/core/components/baseItems/Button/index.tsx
  src/core/components/baseItems/Input/index.tsx
  src/core/components/baseItems/PlainList/index.tsx
  src/core/components/baseItems/Select/index.tsx
  src/core/components/baseItems/StylelessElement/index.tsx
  src/options/components/ExternalLink/index.tsx
  src/options/components/NavBar/NavBarItem.tsx
  src/options/components/inputItems/SelectButton/Option/index.tsx
  src/popup/components/BookmarkTree/BookmarkRow/BookmarkRow.tsx
  src/popup/components/BookmarkTree/BookmarkRow/index.tsx
  src/popup/components/Menu/MenuRow.tsx
  src/popup/components/Search/SearchInput.tsx
  src/popup/components/keyBindings/KeyBindingsWindow.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

refactor: refactor options page navigation
  __mocks__/browserExtension/i18n.ts
  __mocks__/browserExtension/index.ts
  src/options/components/App.tsx
  src/options/components/NavBar/NavBar.tsx
  src/options/components/NavBar/NavBarItem.tsx
  src/options/components/NavBar/index.test.tsx
  src/options/components/NavBar/index.tsx
  src/options/components/NavBar/nav-bar.css
  src/options/components/NavBar/styles.css
  src/options/components/NavModuleMapper.tsx
  src/options/components/OptionForm/index.tsx
  src/options/components/Router.tsx
  src/options/components/navigationContext.ts
  src/options/constants/index.ts
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency eslint to v7.15.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: refactor OptionForm in options page
  src/options/components/OptionForm/OptionForm.tsx
  src/options/components/OptionForm/OptionItem/InputNumber/index.tsx
  src/options/components/OptionForm/OptionItem/InputNumber/styles.css
  src/options/components/OptionForm/OptionItem/InputSelect/index.tsx
  src/options/components/OptionForm/OptionItem/InputSelect/styles.css
  src/options/components/OptionForm/OptionItem/SelectButton/Option/index.tsx
  src/options/components/OptionForm/OptionItem/SelectButton/Option/styles.css
  src/options/components/OptionForm/OptionItem/SelectButton/index.tsx
  src/options/components/OptionForm/OptionItem/SelectButton/styles.css
  src/options/components/OptionForm/OptionItem/SelectMultiple/index.tsx
  src/options/components/OptionForm/OptionItem/SelectMultiple/styles.css
  src/options/components/OptionForm/OptionItem/SelectString/index.tsx
  src/options/components/OptionForm/OptionItem/SelectString/styles.css
  src/options/components/OptionForm/OptionItem/index.tsx
  src/options/components/OptionForm/index.tsx
  src/options/components/OptionForm/option-item.css
  src/options/hooks/useOptionsWithDefaultValues.ts
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency copy-webpack-plugin to v6.4.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency husky to v4.3.5
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency ts-node to v9.1.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix: cannot create folder properly
  src/popup/components/editor/Editor.tsx
  src/popup/components/editor/EditorContainer.tsx
  src/popup/components/editor/EditorContext.ts
  src/popup/components/editor/index.ts
  src/popup/components/menu/MenuContainer.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency @testing-library/react-hooks to v3.7.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency postcss to v8.2.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency copy-webpack-plugin to v7
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @babel/core to v7.12.10
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: rename editor components
  src/popup/components/editor/EditorContainer.tsx
  src/popup/components/editor/EditorForm.tsx
  src/popup/components/editor/editor-form.css
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: rename editor container
  src/popup/components/editor/Editor.tsx
  src/popup/components/editor/index.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency @types/jest to v26.0.19
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/react-redux to v7.1.12
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency mini-css-extract-plugin to v1.3.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency typescript to v4.1.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: upgrade react-query to v3
  package.json
  src/core/hooks/__tests__/options.test.ts
  src/core/hooks/options.ts
  src/core/utils/ReactQueryDefaultConfigProvider.tsx
  src/core/utils/queryClient.tsx
  src/options/components/App.tsx
  src/options/components/OptionForm/index.tsx
  src/options/index.tsx
  src/popup/components/App/index.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

Path conditions:
  yarn prettier --write: ((((any of: *.css) or (any of: *.{js,ts,tsx})) or (any of: *.{json,yaml,yml})) or (any of: *.md)) or (any of: package.json)
  yarn stylelint --fix: any of: *.css
  yarn eslint --fix: any of: *.{js,ts,tsx}
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.{js,ts,tsx}
  yarn remark: any of: *.md
  ignore-sync: any of: *ignore-sync
  sort-package-json: any of: package.json
