Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --parser json --write, prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, markdownlint, ignore-sync

chore(release): 6.1.0
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

style: use h2 for version header
  CHANGELOG.md
Due: markdownlint

chore: update license to 2019
  LICENSE
Due: none

chore(deps): lock file maintenance
  yarn.lock
Due: none

fix(deps): update dependency core-js to v3.1.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency webpack to v4.32.0
  package.json
  yarn.lock
Due: prettier-eslint --write

fix(deps): update dependency core-js to v3.1.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @babel/core to v7.4.5
  package.json
  yarn.lock
Due: prettier-eslint --write

fix(deps): update dependency typesafe-actions to v4.4.0
  package.json
  yarn.lock
Due: prettier-eslint --write

fix(deps): update dependency nanoid to v2.0.3
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency prompts to v2.1.0
  package.json
  yarn.lock
Due: prettier-eslint --write

fix(deps): update dependency core-js to v3.1.2
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/webpack to v4.4.32
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency bluebird to v3.5.5
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency terser-webpack-plugin to v1.3.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/bluebird to v3.5.27
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency ts-node to v8.1.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency ts-node to v8.2.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: use EventHandler shortcut for event typings
  src/js/options/components/OptionForm/OptionButton.tsx
  src/js/popup/components/BookmarkTree/BookmarkRow/BookmarkRow.tsx
  src/js/popup/components/BookmarkTree/BookmarkRow/index.tsx
  src/js/popup/components/BookmarkTree/BookmarkTree.tsx
  src/js/popup/components/Mask.tsx
  src/js/popup/components/Menu/Menu.tsx
  src/js/popup/components/Menu/MenuRow.tsx
  src/js/popup/components/Search/Search.tsx
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency mini-css-extract-plugin to v0.7.0
  package.json
  yarn.lock
Due: prettier-eslint --write

fix(deps): update dependency core-js to v3.1.3
  package.json
  yarn.lock
Due: prettier-eslint --write

refactor: remove unnecessary types
  src/js/options/components/OptionForm/OptionButton.tsx
  src/js/options/components/OptionForm/OptionForm.tsx
  src/js/popup/components/BookmarkTree/BookmarkRow/BookmarkRow.tsx
  src/js/popup/components/BookmarkTree/BookmarkRow/index.tsx
  src/js/popup/components/BookmarkTree/BookmarkTree.tsx
  src/js/popup/components/BookmarkTree/useRowClickEvents.ts
  src/js/popup/components/BookmarkTree/useRowDragEvents.ts
  src/js/popup/components/Editor/Editor.tsx
  src/js/popup/components/Mask.tsx
  src/js/popup/components/Menu/Menu.tsx
  src/js/popup/components/Menu/MenuRow.tsx
  src/js/popup/components/dragAndDrop/DragAndDropConsumer.tsx
  src/js/popup/components/dragAndDrop/useDragAndDropContainerEvents.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

Path conditions:
  prettier-eslint --parser json --write: any of: .babelrc
  prettier-eslint --write: ((any of: *.css) or (any of: *.{js,ts,tsx})) or (any of: *.{json,yaml,yml})
  stylelint --fix: any of: *.css
  import-sort --write: any of: *.{js,ts,tsx}
  eslint --fix: any of: *.{js,ts,tsx}
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.{js,ts,tsx}
  markdownlint: any of: *.md
  ignore-sync: any of: *ignore-sync
