Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

perf: remove immer to reduce bundle size
  .size-limit.json
  package.json
  src/popup/modules/bookmarks/contexts/bookmarkTrees.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore: update line-height
  .size-limit.json
  src/core/styles/composes.module.css
  src/options/components/OptionForm/OptionItem/SelectMultiple/styles.module.css
  src/popup/components/BookmarkTree/BookmarkRow/bookmark-row.module.css
  src/popup/components/menu/menu-row.module.css
Due: yarn prettier --write, yarn stylelint --fix

chore(deps): update all dependencies
  .size-limit.json
  package.json
  src/core/components/baseItems/ActionlessForm/index.test.tsx
  src/core/components/baseItems/Button/index.test.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore!: require node >=18.12.0
  .circleci/config.yml
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: reduce mask css size
  src/popup/components/Mask/mask.module.css
Due: yarn prettier --write, yarn stylelint --fix

chore(deps): update @foray1010/common-presets monorepo (major)
  .eslintrc.cjs
  __mocks__/.eslintrc.cjs
  eslint.config.mjs
  package.json
  src/.eslintrc.cjs
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  .size-limit.json
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: remove .gitattributes
  .gitattributes
Due: none

style: use inline type imports to avoid duplicate imports
  package.json
  scripts/generateLocalesFromTransifex.ts
  src/popup/components/BookmarkTree/BookmarkRow/index.tsx
  src/popup/components/BookmarkTree/BookmarkTree.tsx
  src/popup/components/floatingWindow/useGlobalBodySize.ts
  webpack.config.cts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

refactor: remove remeda
  __mocks__/browserExtension/storage.ts
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

refactor: improve i18n.getMessage mock
  __mocks__/browserExtension/i18n.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: implement onChange event listeners for extension storage mock
  __mocks__/browserExtension/index.ts
  __mocks__/browserExtension/storage.test.ts
  __mocks__/browserExtension/storage.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: implement getAcceptLanguages and getUILanguage for extension i18n mock
  __mocks__/browserExtension/i18n.ts
  __mocks__/browserExtension/storage.ts
  __mocks__/browserExtension/utils.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: add AreaName in extension storage mock
  __mocks__/browserExtension/storage.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update all dependencies
  package.json
  scripts/generateLocalesFromTransifex.ts
  scripts/generateMarkdown.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update all dependencies
  .size-limit.json
  .swcrc
  README.md
  markdown/developer_guide.md
  package.json
  scripts/generateLocalesFromTransifex.ts
  scripts/generateMarkdown.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, sort-package-json

refactor: improve accessibility
  .size-limit.json
  src/core/components/baseItems/ActionlessForm/index.tsx
  src/core/components/baseItems/LazyImage.tsx
  src/options/components/App/index.tsx
  src/popup/components/BookmarkTree/BookmarkRow/BookmarkRow.tsx
  src/popup/components/BookmarkTree/BookmarkRow/index.tsx
  src/popup/components/Search/SearchInput.tsx
  src/popup/components/editor/EditorForm.tsx
  src/popup/components/editor/editor-form.module.css
  src/popup/components/floatingWindow/FloatingWindow.tsx
  src/popup/components/menu/Menu.tsx
  src/popup/components/menu/MenuRow.tsx
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: update eslint config
  package.json
  scripts/generateLocalesFromTransifex.ts
  scripts/generateMarkdown.ts
  src/popup/modules/bookmarks/contexts/bookmarkTrees.ts
  src/popup/modules/bookmarks/methods/openBookmark.ts
  src/popup/modules/bookmarks/methods/sortBookmarksByName.ts
  webpack.config.cts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore: fix all folders are closed after edited bookmark, and fix last opened bookmarks
  .size-limit.json
  src/core/hooks/useLatestRef.ts
  src/popup/components/keyBindings/useKeyBindingsEvent.ts
  src/popup/modules/bookmarks/contexts/bookmarkTrees.ts
  src/popup/modules/bookmarks/methods/getBookmark.ts
  src/popup/modules/localStorage.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: move to yarn v3
  .circleci/config.yml
  .yarnrc.yml
  README.md
  markdown/developer_guide.md
  package.json
  yarn.lock
Due: yarn prettier --write, yarn remark, sort-package-json

chore: use .node-version to manage development nodejs version
  .node-version
Due: none

chore: remove style-loader to improve build speed
  package.json
  webpack.config.cts
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix: allow to use ctrl + click to open context menu in macos
  .size-limit.json
  src/popup/components/BookmarkTree/BookmarkRow/BookmarkRow.tsx
  src/popup/components/BookmarkTree/BookmarkRow/index.tsx
  src/popup/components/BookmarkTree/BookmarkTree.tsx
  src/popup/components/BookmarkTree/index.tsx
  src/popup/components/BookmarkTree/useRowClickEvents.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: replace clsx by classix
  .size-limit.json
  package.json
  src/core/components/baseItems/Button/index.tsx
  src/core/components/baseItems/Input/index.tsx
  src/core/components/baseItems/PlainList/index.tsx
  src/core/components/baseItems/Select/index.tsx
  src/core/components/baseItems/StylelessElement/index.tsx
  src/options/components/ExternalLink/index.tsx
  src/options/components/NavBar/index.tsx
  src/options/components/OptionForm/OptionItem/InputNumber/index.tsx
  src/options/components/OptionForm/OptionItem/SelectButton/Option/index.tsx
  src/options/components/OptionForm/OptionItem/SelectString/index.tsx
  src/popup/components/BookmarkTree/BookmarkRow/BookmarkRow.tsx
  src/popup/components/BookmarkTree/BookmarkRow/index.tsx
  src/popup/components/BookmarkTree/BookmarkTree.tsx
  src/popup/components/Mask/index.tsx
  src/popup/components/Search/SearchInput.tsx
  src/popup/components/keyBindings/KeyBindingsWindow.tsx
  src/popup/components/menu/MenuRow.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

refactor: simplify useTooltip hook
  .size-limit.json
  src/popup/components/BookmarkTree/BookmarkRow/useTooltip.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fix: improve dragging sensitivity
  .size-limit.json
  src/core/components/baseItems/StylelessElement/index.tsx
  src/core/components/baseItems/StylelessElement/styles.module.css
  src/popup/components/BookmarkTree/BookmarkRow/index.tsx
  src/popup/components/BookmarkTree/BookmarkTree.tsx
  src/popup/components/dragAndDrop/DragAndDropConsumer.tsx
  src/popup/components/dragAndDrop/DragAndDropContext.ts
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: add all global event listeners to document instead of window
  src/popup/components/dragAndDrop/DragAndDropContext.ts
  src/popup/components/keyBindings/KeyBindingsContext.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: remove premature optimizations
  .size-limit.json
  src/popup/components/App/index.tsx
  src/popup/components/Mask/index.tsx
  src/popup/components/clipboard/index.ts
  src/popup/components/dragAndDrop/DragAndDropContext.ts
  src/popup/components/editor/EditorContext.ts
  src/popup/components/editor/EditorForm.tsx
  src/popup/components/floatingWindow/FloatingWindowContext.ts
  src/popup/components/keyBindings/KeyBindingsContext.ts
  src/popup/components/listNavigation/ListNavigationContext.ts
  src/popup/components/menu/useMenu.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: use `React.PropsWithChildren`
  src/core/utils/withProviders.tsx
  src/popup/components/dragAndDrop/DragAndDropConsumer.tsx
  src/popup/components/floatingWindow/FloatingWindow.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: use more readonly types
  __mocks__/browserExtension/storage.ts
  scripts/generateLocalesFromTransifex.ts
  src/core/utils/getOptionsConfig.ts
  src/options/components/OptionForm/index.tsx
  src/popup/components/BookmarkTree/BookmarkTree.tsx
  src/popup/components/BookmarkTree/useRowHoverEvents.ts
  src/popup/components/BookmarkTrees/useRememberLastPositions.ts
  src/popup/components/dragAndDrop/useDragAndDropContainerEvents.ts
  src/popup/components/editor/EditorForm.tsx
  src/popup/components/floatingWindow/FloatingWindow.tsx
  src/popup/components/keyBindings/KeyBindingsContext.ts
  src/popup/components/listNavigation/ListNavigationContext.ts
  src/popup/index.tsx
  src/popup/modules/bookmarks/contexts/bookmarkTrees.ts
  src/popup/modules/bookmarks/methods/getBookmark.ts
  src/popup/modules/bookmarks/methods/openBookmark.ts
  src/popup/modules/bookmarks/methods/sortBookmarksByName.ts
  src/popup/modules/bookmarks/utils/clickBookmark.ts
  src/popup/utils/deleteFromMap.ts
  src/popup/utils/sortByTitle.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: add extension runtime mock
  __mocks__/browserExtension/index.ts
  __mocks__/browserExtension/runtime.ts
  src/popup/modules/bookmarks/methods/createBookmark.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update all dependencies
  .size-limit.json
  .swcrc
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: extract WebExtEventEmitter for extension mock
  __mocks__/browserExtension/i18n.ts
  __mocks__/browserExtension/storage.test.ts
  __mocks__/browserExtension/storage.ts
  __mocks__/browserExtension/utils/WebExtEventEmitter.ts
  __mocks__/browserExtension/utils/object.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: add bookmarks extension api mock
  __mocks__/browserExtension/bookmarks.test.ts
  __mocks__/browserExtension/bookmarks.ts
  __mocks__/browserExtension/index.ts
  package.json
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore: fix test config does not support svgr
  jest.config.mjs
Due: none

refactor: remove core/utils/index.ts
  src/core/utils/index.ts
  src/options/components/OptionForm/index.tsx
  src/options/index.tsx
  src/popup/index.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: use the font-family set from :root or html tag
  src/core/styles/globals.module.css
Due: yarn prettier --write, yarn stylelint --fix

feat: use system-ui as macOS default font family
  .size-limit.json
  src/core/styles/globals.module.css
  src/core/utils/getOptionsConfig.ts
  src/core/utils/isMac.ts
  src/popup/components/App/index.tsx
  src/popup/components/BookmarkTrees/withKeyboardNav.tsx
  src/popup/components/menu/MenuContainer.tsx
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: improve option types
  src/core/types/options.ts
  src/core/utils/getOptionsConfig.ts
  src/options/components/OptionForm/OptionItem/index.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: improve useRootCss
  .size-limit.json
  package.json
  src/popup/components/App/index.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

Path conditions:
  yarn prettier --write: ((((any of: *.css) or (any of: *.{js,ts,tsx})) or (any of: *.{json,yaml,yml})) or (any of: *.md)) or (any of: package.json)
  yarn stylelint --fix: any of: *.css
  yarn eslint --fix: any of: *.{js,ts,tsx}
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.{js,ts,tsx}
  yarn remark: any of: *.md
  ignore-sync: any of: *ignore-sync
  sort-package-json: any of: package.json
