Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

.lintstagedrc.yml:

'*.css':
  - 'yarn prettier --write'
  - 'yarn stylelint --fix'
'*.{js,ts,tsx}':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
  - 'jest --bail --findRelatedTests --config .jestrc.json'
'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'*ignore-sync':
  - 'ignore-sync'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

fix(deps): update dependency core-js to v3.22.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @foray1010/eslint-config to v6.4.0
  package.json
  src/core/components/baseItems/ActionlessForm/index.test.tsx
  src/core/components/baseItems/Button/index.test.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

fix(deps): update dependency @fontsource/archivo-narrow to v4.5.8
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v8.14.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: use new syntax array.at
  package.json
  src/popup/components/BookmarkTrees/withKeyboardNav.tsx
  src/popup/components/keyBindings/KeyBindingsContext.ts
  src/popup/modules/bookmarks/methods/getBookmark.ts
  src/popup/modules/bookmarks/methods/sortBookmarksByName.ts
  src/popup/utils/getLastMapKey.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

refactor: use span instead of label for multiple form control children
  src/options/components/OptionForm/OptionItem/SelectButton/Option/index.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fix(deps): update dependency react-query to v3.38.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: properly use react 18 transition
  src/popup/modules/bookmarks/contexts/bookmarkTrees.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency @types/react to v18.0.8
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v12.4.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update commitlint monorepo to v16.2.4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: upgrade jest to v28
  .lintstagedrc.js
  jest.config.js
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update dependency @types/react-dom to v18.0.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency typescript to v4.6.4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

fixup! chore(deps): lock file maintenance
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency postcss to v8.4.13
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency axios to v0.27.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/node to v16.11.33
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/ramda to v0.28.12
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency core-js to v3.22.4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency react-query to v3.38.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency postcss-preset-env to v7.5.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency stylelint to v14.8.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json
