Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --parser json --write, prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, markdownlint, ignore-sync

.lintstagedrc.yml:

ignore:
  - 'flow-typed/**'
  - 'markdown/**'
linters:
  '.babelrc':
    - 'prettier-eslint --parser json --write'
    - 'git add'
  '*.css':
    - 'prettier-eslint --write'
    - 'stylelint --fix'
    - 'git add'
  '*.{js,ts,tsx}':
    - 'import-sort --write'
    - 'prettier-eslint --write'
    - 'eslint --fix'
    - 'jest --bail --findRelatedTests --config .jestrc.json'
    - 'git add'
  '*.{json,yaml,yml}':
    - 'prettier-eslint --write'
    - 'git add'
  '*.md':
    - 'markdownlint'
  '*ignore-sync':
    - 'ignore-sync'
    - 'git add'

fix(deps): update dependency typesafe-actions to v4.3.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/node to v12.0.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency fs-extra to v8.0.1
  package.json
  yarn.lock
Due: prettier-eslint --write

fixup! feat: open folder by click
  src/js/popup/components/BookmarkTree/index.tsx
  src/js/popup/components/BookmarkTree/useRowClickEvents.ts
  src/js/popup/components/BookmarkTree/useRowHoverEvents.ts
  src/js/popup/reduxs/bookmark/actions.ts
  src/js/popup/reduxs/bookmark/saga/index.ts
  src/js/popup/reduxs/bookmark/saga/modules/toggleBookmarkTree.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fixup! feat: open folder by click
  src/js/popup/components/dragAndDrop/DragAndDropConsumer.tsx
  src/js/popup/components/dragAndDrop/DragAndDropContext.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

feat: open folder by click (#461)
  src/js/popup/components/BookmarkTree/index.tsx
  src/js/popup/components/BookmarkTree/useRowClickEvents.ts
  src/js/popup/components/BookmarkTree/useRowHoverEvents.ts
  src/js/popup/components/dragAndDrop/DragAndDropConsumer.tsx
  src/js/popup/components/dragAndDrop/DragAndDropContext.ts
  src/js/popup/reduxs/bookmark/actions.ts
  src/js/popup/reduxs/bookmark/saga/index.ts
  src/js/popup/reduxs/bookmark/saga/modules/toggleBookmarkTree.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: update type definitions
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/chance to v1.0.4
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency husky to v2.3.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: yarn upgrade
  package.json
  yarn.lock
Due: prettier-eslint --write

fix: fix repeatly running hook
  src/js/popup/components/keyBindings/useKeyBindingsEvent.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: release v6.0.0
  CHANGELOG.md
Due: markdownlint

chore(deps): update dependency @types/babel__core to v7.1.2
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: do not remove asset after rebuild during development
  webpack.config.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: fix handleDragStart should use pendingKey as new activeKey
  src/js/popup/components/dragAndDrop/DragAndDropConsumer.tsx
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fix: should search immediately by pressing any key (reported by @alon91)
  src/js/popup/components/Search/index.tsx
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fix: close PmB by pressing Esc on input w/o value (reported by @alon91)
  src/js/.eslintrc.yml
  src/js/popup/components/App/useGlobalEvents.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: do not run markdownlint on CHANGELOG.md
  .lintstagedrc.yml
Due: prettier-eslint --write

chore(release): 6.0.1
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

ci: only run markdownlint on README.md
  package.json
Due: prettier-eslint --write

refactor: simplify checking of input element
  src/js/.eslintrc.yml
  src/js/popup/components/App/useGlobalEvents.ts
  src/js/popup/components/Search/index.tsx
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: run prettier on markdown files
  .lintstagedrc.yml
  CHANGELOG.md
  README.md
  markdown/contributing.md
  markdown/developer_guide.md
Due: prettier-eslint --write, markdownlint

chore: do not ignore CHANGELOG.md in precommit hook
  .lintstagedrc.yml
  CHANGELOG.md
Due: prettier-eslint --write, markdownlint

chore: sync CHANGELOG style
  .markdownlint.json
  CHANGELOG.md
Due: prettier-eslint --write, markdownlint

fix: should not trigger dragging when clicking bookmark with a shaking hand (reported by @dlbryant)
  src/js/popup/components/dragAndDrop/DragAndDropConsumer.tsx
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: fix markdown precommit hook
  .lintstagedrc.yml
Due: prettier-eslint --write

chore: disable some markdownlint rules
  .lintstagedrc.yml
  .markdownlint.json
  package.json
Due: prettier-eslint --write

chore(release): 6.0.2
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

fix: cannot drag on the edge of the bookmark
  src/js/popup/components/dragAndDrop/DragAndDropConsumer.tsx
  src/js/popup/components/dragAndDrop/DragAndDropContext.ts
  src/js/popup/components/dragAndDrop/DragAndDropProvider.tsx
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(release): 6.0.3
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

feat: increase separator width to fit the largest popup width
  src/js/popup/reduxs/bookmark/saga/modules/addSeparator.test.ts
  src/js/popup/reduxs/bookmark/saga/modules/addSeparator.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: sync .gitignore
  .gitignore
Due: none

chore: remove flow-typed from .eslintignore
  .eslintignore
Due: none

feat: avoid duplicated separator URL (suggested by @dlbryant)
  package.json
  src/js/popup/reduxs/bookmark/saga/modules/addSeparator.test.ts
  src/js/popup/reduxs/bookmark/saga/modules/addSeparator.ts
  yarn.lock
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: move a,button,input,select tag global styles to local styles
  src/css/common/composes.css
  src/css/common/globals.css
  src/css/options/external-link.css
  src/css/options/input-number.css
  src/css/options/input-select.css
  src/css/options/nav-bar-item.css
  src/css/options/select-button-option.css
  src/css/options/select-multiple.css
  src/css/options/select-string.css
  src/css/popup/editor.css
  src/css/popup/tree-header.css
  src/js/options/components/input_items/InputNumber.tsx
  src/js/options/components/input_items/SelectMultiple/Option.tsx
  src/js/options/components/input_items/SelectString.tsx
  src/js/popup/components/Editor/Editor.tsx
Due: prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

feat: always show cancel search button even not focusing on search (reported by @dlbryant)
  src/css/popup/search.css
  src/img/cancel.svg
  src/js/popup/components/Search/Search.tsx
  src/js/popup/components/Search/index.tsx
Due: prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json
