Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --parser json --write, prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, markdownlint, ignore-sync

fix(deps): update dependency react-window to v1.8.2
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/firefox-webext-browser to v67.0.2
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/node to v12.0.3
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/ramda to v0.26.9
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/react to v16.8.19
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): yarn upgrade
  package.json
  yarn.lock
Due: prettier-eslint --write

style: use flex-grow to expand search input
  src/css/popup/search.css
Due: prettier-eslint --write, stylelint --fix

chore(deps): update dependency typescript to v3.5.1
  package.json
  yarn.lock
Due: prettier-eslint --write

fixup! chore(deps): update dependency typescript to v3.5.1
  src/js/options/components/input_items/InputSelect.tsx
  src/js/popup/hooks/useEventListener.ts
  src/js/popup/reduxs/bookmark/saga/modules/getSearchResult.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fixup! chore(deps): update dependency typescript to v3.5.1
  src/js/popup/hooks/useEventListener.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency @types/classnames to v2.2.8
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/mini-css-extract-plugin to v0.2.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/node to v12.0.4
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency clean-webpack-plugin to v3
  package.json
  yarn.lock
Due: prettier-eslint --write

fixup! chore(deps): update dependency clean-webpack-plugin to v3
  package.json
  webpack.config.ts
  yarn.lock
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: use use-typed-event-listener
  package.json
  src/js/popup/components/App/useGlobalEvents.ts
  src/js/popup/components/BookmarkTree/BookmarkTree.tsx
  src/js/popup/components/dragAndDrop/DragAndDropProvider.tsx
  src/js/popup/components/keyBindings/KeyBindingsProvider.tsx
  src/js/popup/hooks/useEventListener.ts
  yarn.lock
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update commitlint monorepo to v8
  package.json
  yarn.lock
Due: prettier-eslint --write

fix(deps): update dependency use-typed-event-listener to v1.1.1
  package.json
  yarn.lock
Due: prettier-eslint --write

fix(deps): update dependency open-color to v1.7.0
  package.json
  yarn.lock
Due: prettier-eslint --write

fix(deps): update dependency use-typed-event-listener to v1.3.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency postcss-normalize to v8
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency webpack to v4.33.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency husky to v2.4.0
  package.json
  yarn.lock
Due: prettier-eslint --write

fix(deps): update dependency use-typed-event-listener to v1.3.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency file-loader to v4
  package.json
  yarn.lock
Due: prettier-eslint --write

Path conditions:
  prettier-eslint --parser json --write: any of: .babelrc
  prettier-eslint --write: ((any of: *.css) or (any of: *.{js,ts,tsx})) or (any of: *.{json,yaml,yml})
  stylelint --fix: any of: *.css
  import-sort --write: any of: *.{js,ts,tsx}
  eslint --fix: any of: *.{js,ts,tsx}
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.{js,ts,tsx}
  markdownlint: any of: *.md
  ignore-sync: any of: *ignore-sync
