Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

.lintstagedrc.yml:

'*.css':
  - 'yarn prettier --write'
  - 'yarn stylelint --fix'
'*.{js,ts,tsx}':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
  - 'jest --bail --findRelatedTests --config .jestrc.json'
'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'*ignore-sync':
  - 'ignore-sync'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

chore(deps): update dependency terser-webpack-plugin to v5.3.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency core-js to v3.22.8
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @swc/core to v1.2.197
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/jest to v28
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency postcss-preset-env to v7.7.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/node to v16.11.39
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/ramda to v0.28.14
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v8.17.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore: upgrade all dependencies
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @transifex/api to v4.2.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update dependency mini-css-extract-plugin to v2.6.1
  yarn.lock
Due: none

fixup! chore(deps): update dependency @types/react to v18.0.14
  yarn.lock
Due: none

chore(deps): upgrade react-query to @tanstack/react-query
  package.json
  src/core/utils/queryClient.tsx
  src/options/components/App/index.tsx
  src/options/hooks/__tests__/options.test.ts
  src/options/hooks/options.ts
  src/popup/modules/bookmarks/hooks/useGetBookmarkInfo.ts
  src/popup/modules/options.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

fixup! chore(deps): update dependency @foray1010/eslint-config to v7.3.1
  src/core/types/options.ts
  src/core/types/svg.d.ts
  src/options/components/OptionForm/OptionForm.tsx
  src/options/components/OptionForm/OptionItem/index.tsx
  src/popup/components/BookmarkTree/BookmarkRow/index.tsx
  src/popup/components/BookmarkTree/BookmarkTree.tsx
  src/popup/components/BookmarkTree/TreeHeader.tsx
  src/popup/components/BookmarkTree/index.tsx
  src/popup/components/BookmarkTree/useRowDragEvents.ts
  src/popup/components/dragAndDrop/DragAndDropConsumer.tsx
  src/popup/components/dragAndDrop/DragAndDropContext.ts
  src/popup/components/editor/Editor.tsx
  src/popup/components/editor/EditorForm.tsx
  src/popup/components/floatingWindow/useGlobalBodySize.ts
  src/popup/components/menu/Menu.tsx
  src/popup/components/menu/MenuRow.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): upgrade all dependencies
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

build: use @parcel/css and cleanup unused normalize.css
  package.json
  postcss.config.js
  src/core/styles/globals.module.css
  src/popup/components/App/globals.module.css
  webpack.config.ts
  yarn.lock
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

build: use swc to minify js
  webpack.config.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

style: prefer as const
  src/options/components/NavBar/index.tsx
  src/popup/modules/bookmarks/methods/sortBookmarksByName.ts
  webpack.config.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: remove typescript-plugin-css-modules
  package.json
  src/core/types/css.d.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore: use cjs/mjs instead of yml for config files
  .eslintrc.cjs
  .eslintrc.yml
  .lintstagedrc.cjs
  .prettierrc.cjs
  .remarkrc.mjs
  .remarkrc.yml
  .stylelintrc.cjs
  .stylelintrc.yml
  jest.config.cjs
  src/.eslintrc.cjs
  src/.eslintrc.yml
Due: yarn prettier --write

chore(deps): remove unused dependencies
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: remove unused exports
  src/popup/components/keyBindings/index.ts
  src/popup/constants/index.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: use root: true in eslint config
  .eslintrc.cjs
  src/.eslintrc.cjs
Due: none

chore: use @foray1010/jest-preset
  jest.config.cjs
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update @foray1010/common-presets monorepo (major)
  package.json
  src/.eslintrc.cjs
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update typescript to 4.8.2
  package.json
  src/core/utils/withProviders.tsx
  src/popup/components/BookmarkTrees/withDragAndDropEvents.tsx
  src/popup/components/BookmarkTrees/withKeyboardNav.tsx
  src/popup/modules/options.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): upgrade @parcel/css to lightningcss
  package.json
  webpack.config.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): replace ramda by remeda
  __mocks__/browserExtension/storage.ts
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): replace lodash.debounce by use-debounce
  package.json
  src/popup/components/BookmarkTree/useRowHoverEvents.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json
