Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

refactor: resize SelectButton based on font-size
  src/options/components/inputItems/SelectButton/Option/index.tsx
  src/options/components/inputItems/SelectButton/Option/styles.css
  src/options/components/inputItems/SelectButton/index.tsx
  src/options/components/inputItems/SelectButton/styles.css
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: use list element for SelectMultiple
  src/core/components/baseItems/FieldSet/index.tsx
  src/core/components/baseItems/FieldSet/styles.css
  src/options/components/inputItems/SelectMultiple/Option.tsx
  src/options/components/inputItems/SelectMultiple/index.tsx
  src/options/components/inputItems/SelectMultiple/styles.css
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: align all button, input and select elements to use 1em font size
  src/core/components/baseItems/Button/styles.css
  src/core/components/baseItems/Input/styles.css
  src/core/components/baseItems/Select/styles.css
  src/options/components/OptionForm/option-item.css
  src/options/components/inputItems/SelectButton/Option/styles.css
Due: yarn prettier --write, yarn stylelint --fix

refactor: remove global input styles from OptionItem
  src/core/components/baseItems/Input/styles.css
  src/core/components/baseItems/Select/styles.css
  src/options/components/OptionForm/OptionItem.tsx
  src/options/components/OptionForm/option-item.css
  src/options/components/inputItems/InputNumber/index.tsx
  src/options/components/inputItems/InputNumber/styles.css
  src/options/components/inputItems/SelectString/index.tsx
  src/options/components/inputItems/SelectString/styles.css
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fixup! refactor: fix react error on html structure
  src/options/components/donate.css
Due: yarn prettier --write, yarn stylelint --fix

style: align coding convention
  src/core/components/baseItems/ActionlessForm.tsx
  src/core/components/baseItems/Button/index.tsx
  src/core/components/baseItems/Input/index.tsx
  src/core/components/baseItems/Input/styles.css
  src/core/components/baseItems/PlainList/index.tsx
  src/core/components/baseItems/Select/index.tsx
  src/core/components/baseItems/StylelessElement/index.tsx
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: inherit color and font size from parent for button, input and select elements
  src/core/components/baseItems/Button/styles.css
  src/core/components/baseItems/Input/styles.css
  src/core/components/baseItems/Select/styles.css
  src/core/styles/composes.css
  src/popup/components/BookmarkTree/BookmarkRow/bookmark-row.css
  src/popup/components/Search/search-input.css
Due: yarn prettier --write, yarn stylelint --fix

refactor: inherit font family from parent for button, input and select elements
  src/core/components/baseItems/Button/styles.css
  src/core/components/baseItems/Input/styles.css
  src/core/components/baseItems/Select/styles.css
  src/options/components/inputItems/SelectButton/Option/styles.css
  src/options/components/inputItems/SelectButton/styles.css
Due: yarn prettier --write, yarn stylelint --fix

chore: apply a strict content security policy
  src/manifest.yml
Due: yarn prettier --write

chore: add homepage_url to manifest
  src/manifest.yml
Due: yarn prettier --write

refactor: replace react-window by react-virtual
  package.json
  src/popup/components/BookmarkTree/BookmarkTree.tsx
  src/popup/components/BookmarkTree/useRememberLastPositions.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update dependency @foray1010/eslint-config to v4.1.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/firefox-webext-browser to v82
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/node to v14.14.7
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency postcss to v8.1.7
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency webextension-polyfill to v0.7.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency babel-loader to v8.2.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @testing-library/react to v11.1.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @testing-library/user-event to v12.2.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/webpack to v4.41.25
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency mini-css-extract-plugin to v1.3.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency terser-webpack-plugin to v5
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency copy-webpack-plugin to v6.3.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat: use 2014 Material Design color palettes
  src/core/styles/globals.css
  src/popup/images/folder.svg
Due: yarn prettier --write, yarn stylelint --fix

chore(deps): update @foray1010/common-presets monorepo
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: remove js polyfills
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

Path conditions:
  yarn prettier --write: ((((any of: *.css) or (any of: *.{js,ts,tsx})) or (any of: *.{json,yaml,yml})) or (any of: *.md)) or (any of: package.json)
  yarn stylelint --fix: any of: *.css
  yarn eslint --fix: any of: *.{js,ts,tsx}
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.{js,ts,tsx}
  yarn remark: any of: *.md
  ignore-sync: any of: *ignore-sync
  sort-package-json: any of: package.json
