Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

chore(release): 7.1.0
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn remark, sort-package-json

docs: remove unnecessary changelog
  CHANGELOG.md
Due: yarn prettier --write, yarn remark

fix: chrome does not show spanish translation
  scripts/generateLocalesFromTransifex.ts
  src/core/_locales/es/messages.json
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(release): 7.1.1
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update dependency lint-staged to v10.5.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency postcss to v8.1.10
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/node to v14.14.10
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency postcss-url to v10.1.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update babel monorepo
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency prettier to v2.2.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency webpack-bundle-analyzer to v4.2.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency webpack to v5.9.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update dependency webpack to v5.9.0
  webpack.config.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency @types/jest to v26.0.16
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency cross-env to v7.0.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency type-coverage to v2.14.6
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency nanoid to v3.1.20
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency ts-node to v9.1.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @testing-library/user-event to v12.5.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: rewrite ExternalLink based on anchor element type
  jest.config.ts
  package.json
  src/options/components/ExternalLink.tsx
  src/options/components/ExternalLink/index.test.tsx
  src/options/components/ExternalLink/index.tsx
  src/options/components/ExternalLink/styles.css
  yarn.lock
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore: use yarn test in precommit hook
  .lintstagedrc.js
  jest.config.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

test: improve ActionlessForm and Button tests
  src/core/components/baseItems/ActionlessForm/index.test.tsx
  src/core/components/baseItems/ActionlessForm/index.tsx
  src/core/components/baseItems/Button/index.test.tsx
  src/core/components/baseItems/__tests__/Button.test.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fixup! refactor: rewrite ExternalLink based on anchor element type
  src/options/components/ExternalLink/styles.css
Due: yarn prettier --write, yarn stylelint --fix

chore(deps): update dependency mini-css-extract-plugin to v1.3.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency postcss to v8.1.14
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency webpack to v5.10.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

Path conditions:
  yarn prettier --write: ((((any of: *.css) or (any of: *.{js,ts,tsx})) or (any of: *.{json,yaml,yml})) or (any of: *.md)) or (any of: package.json)
  yarn stylelint --fix: any of: *.css
  yarn eslint --fix: any of: *.{js,ts,tsx}
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.{js,ts,tsx}
  yarn remark: any of: *.md
  ignore-sync: any of: *ignore-sync
  sort-package-json: any of: package.json
