Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

.lintstagedrc.yml:

'*.css':
  - 'yarn prettier --write'
  - 'yarn stylelint --fix'
'*.{js,ts,tsx}':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
  - 'jest --bail --findRelatedTests --config .jestrc.json'
'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'*ignore-sync':
  - 'ignore-sync'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

chore(deps): update dependency @types/ramda to v0.27.11
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/node to v14.0.23
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update babel monorepo to v7.10.5
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update babel monorepo to v7.10.5
  yarn.lock
Due: none

chore(deps): update dependency terser-webpack-plugin to v3.0.7
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency typescript to v3.9.7
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

ci: remove codecov
  .circleci/config.yml
Due: yarn prettier --write

chore(deps): update dependency remark-cli to v8.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency type-coverage to v2.9.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/jest to v26.0.5
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.5.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/node to v14.0.26
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/jest to v26.0.7
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency webpack to v4.44.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency css-loader to v4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency react-redux to v7.2.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: minor refactor on options page form item
  src/options/components/inputItems/InputNumber.tsx
  src/options/components/inputItems/SelectMultiple/Option.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: delete all ineffective tests
  .jestrc.json
  package.json
  src/core/__fixtures__/options.json
  src/popup/reduxs/bookmark/saga/__fixtures__/bookmarkNodes.ts
  src/popup/reduxs/bookmark/saga/__fixtures__/bookmarkTrees.ts
  src/popup/reduxs/bookmark/saga/__fixtures__/searchResult.ts
  src/popup/reduxs/bookmark/saga/__fixtures__/searchTitleOnlyResult.ts
  src/popup/reduxs/bookmark/saga/modules/addCurrentPage.test.ts
  src/popup/reduxs/bookmark/saga/modules/addSeparator.test.ts
  src/popup/reduxs/bookmark/saga/modules/deleteBookmark.test.ts
  src/popup/reduxs/bookmark/saga/modules/getSearchResult.test.ts
  src/popup/reduxs/bookmark/saga/modules/initBookmarkTrees.test.ts
  src/popup/reduxs/bookmark/saga/modules/openBookmarkTree.test.ts
  src/popup/reduxs/bookmark/saga/modules/refreshBookmarkTrees.test.ts
  src/popup/reduxs/bookmark/saga/utils/__snapshots__/getters.test.ts.snap
  src/popup/reduxs/bookmark/saga/utils/getters.test.ts
  src/popup/reduxs/bookmark/utils/converters.test.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

test: test base button component
  package.json
  src/core/components/baseItems/Button/__tests__/index.test.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

refactor: minor improvement on renderToBody
  src/core/utils/renderToBody.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fix: options page select font size is too large
  src/core/components/baseItems/Select/styles.css
Due: yarn prettier --write, yarn stylelint --fix

chore(deps): upgrade all dependencies
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

test: test ActionlessForm & improve Button test
  src/core/components/baseItems/__tests__/ActionlessForm.test.tsx
  src/core/components/baseItems/__tests__/Button.test.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: migrate all react contexts to constate
  package.json
  src/popup/components/App/index.tsx
  src/popup/components/BookmarkTree/index.tsx
  src/popup/components/BookmarkTree/useRowHoverEvents.ts
  src/popup/components/BookmarkTrees/withDragAndDropEvents.tsx
  src/popup/components/BookmarkTrees/withKeyboardNav.tsx
  src/popup/components/Menu/index.tsx
  src/popup/components/absolutePosition/AbsolutePositionContext.ts
  src/popup/components/absolutePosition/AbsolutePositionProvider.tsx
  src/popup/components/absolutePosition/useGlobalBodySize.ts
  src/popup/components/dragAndDrop/DragAndDropConsumer.tsx
  src/popup/components/dragAndDrop/DragAndDropContext.ts
  src/popup/components/dragAndDrop/DragAndDropProvider.tsx
  src/popup/components/dragAndDrop/useDragAndDropContainerEvents.ts
  src/popup/components/keyBindings/KeyBindingsContext.ts
  src/popup/components/keyBindings/KeyBindingsProvider.tsx
  src/popup/components/keyBindings/KeyBindingsWindow.tsx
  src/popup/components/keyBindings/reducers/keyBindingsPerWindow.ts
  src/popup/components/keyBindings/reducers/windows.ts
  src/popup/components/keyBindings/useKeyBindingsContextState.ts
  src/popup/components/keyBindings/useKeyBindingsEvent.ts
  src/popup/components/listNavigation/ListNavigationContext.ts
  src/popup/components/listNavigation/ListNavigationProvider.tsx
  src/popup/components/listNavigation/reducers/lists.ts
  src/popup/components/listNavigation/useKeyboardNav.ts
  src/popup/components/listNavigation/useListNavigationContextState.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update dependency @types/ramda to v0.27.14
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json
