Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

docs: explain getBytesInUse
  __mocks__/browserExtension/storage.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: extract withProviders
  src/core/utils/withProviders.tsx
  src/options/components/App/index.tsx
  src/popup/components/App/index.tsx
  src/popup/components/BookmarkTrees/withKeyboardNav.tsx
  src/popup/components/menu/MenuContainer.tsx
  src/popup/modules/options.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency eslint to v7.22.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: remove eslint-plugin-redux-saga
  .eslintrc.yml
  package.json
  src/popup/reduxs/bookmark/saga/utils/getters.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

refactor: seperate bookmark module
  src/popup/components/BookmarkTree/BookmarkRow/useTooltip.ts
  src/popup/components/BookmarkTree/useRowClickEvents.ts
  src/popup/components/BookmarkTrees/withKeyboardNav.tsx
  src/popup/components/editor/Editor.tsx
  src/popup/components/menu/MenuContainer.tsx
  src/popup/hooks/bookmarks/query/useGetBookmarkInfo.ts
  src/popup/modules/bookmarks/hooks/constants/reactQuery.ts
  src/popup/modules/bookmarks/hooks/createBookmark.ts
  src/popup/modules/bookmarks/hooks/useDeleteBookmark.ts
  src/popup/modules/bookmarks/hooks/useEditBookmark.ts
  src/popup/modules/bookmarks/hooks/useGetBookmarkInfo.ts
  src/popup/modules/bookmarks/hooks/utils/clearBookmarkCache.ts
  src/popup/modules/bookmarks/index.ts
  src/popup/modules/bookmarks/methods/getBookmark.ts
  src/popup/modules/bookmarks/methods/openBookmark.ts
  src/popup/modules/bookmarks/utils/clickBookmark.ts
  src/popup/modules/bookmarks/utils/generators.ts
  src/popup/modules/bookmarks/utils/transformers.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: move sortBookmarksByName out from redux-saga
  src/popup/components/menu/MenuContainer.tsx
  src/popup/modules/bookmarks/methods/sortBookmarksByName.ts
  src/popup/reduxs/bookmark/actions.ts
  src/popup/reduxs/bookmark/saga/index.ts
  src/popup/reduxs/bookmark/saga/modules/sortBookmarksByName.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency @foray1010/eslint-config to v4.8.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update dependency @foray1010/eslint-config to v4.8.1
  __mocks__/browserExtension/i18n.ts
  __mocks__/browserExtension/storage.ts
  src/popup/reduxs/bookmark/saga/modules/getSearchResult.ts
  src/popup/reduxs/bookmark/saga/modules/initBookmarkTrees.ts
  src/popup/reduxs/bookmark/saga/modules/moveBookmarkToDragIndicator.ts
  src/popup/reduxs/bookmark/saga/modules/openBookmarkTree.ts
  src/popup/reduxs/bookmark/saga/modules/pasteBookmark.ts
  src/popup/reduxs/bookmark/saga/modules/refreshBookmarkTrees.ts
  src/popup/reduxs/bookmark/saga/modules/toggleBookmarkTree.ts
  src/popup/reduxs/bookmark/saga/utils/getters.ts
  src/popup/reduxs/rootSaga.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

feat: natural sort in search result and when sort bookmark by name
  src/popup/utils/sortByTitle.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: call webExtension.tabs.executeScript properly
  src/popup/modules/bookmarks/methods/openBookmark.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fix(deps): update dependency nanoid to v3.1.22
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/node to v14.14.35
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency css-loader to v5.1.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/ramda to v0.27.39
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency type-coverage to v2.17.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/jest to v26.0.21
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency css-minimizer-webpack-plugin to v1.3.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency postcss-url to v10.1.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency react-hook-form to v6.15.5
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency react-query to v3.13.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency husky to v5.2.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency copy-webpack-plugin to v8.1.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/react-dom to v17.0.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency react-redux to v7.2.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

Path conditions:
  yarn prettier --write: ((((any of: *.css) or (any of: *.{js,ts,tsx})) or (any of: *.{json,yaml,yml})) or (any of: *.md)) or (any of: package.json)
  yarn stylelint --fix: any of: *.css
  yarn eslint --fix: any of: *.{js,ts,tsx}
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.{js,ts,tsx}
  yarn remark: any of: *.md
  ignore-sync: any of: *ignore-sync
  sort-package-json: any of: package.json
