Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --parser json --write, prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, markdownlint, ignore-sync

.lintstagedrc.yml:

ignore:
  - 'flow-typed/**'
  - 'markdown/**'
linters:
  '.babelrc':
    - 'prettier-eslint --parser json --write'
    - 'git add'
  '*.css':
    - 'prettier-eslint --write'
    - 'stylelint --fix'
    - 'git add'
  '*.{js,ts,tsx}':
    - 'import-sort --write'
    - 'prettier-eslint --write'
    - 'eslint --fix'
    - 'jest --bail --findRelatedTests --config .jestrc.json'
    - 'git add'
  '*.{json,yaml,yml}':
    - 'prettier-eslint --write'
    - 'git add'
  '*.md':
    - 'markdownlint'
  '*ignore-sync':
    - 'ignore-sync'
    - 'git add'

chore(deps): update dependency @types/node to v11.11.2
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/react to v16.8.8
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/node to v11.11.3
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency clean-webpack-plugin to v2.0.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency eslint to v5.15.2
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency webpack-cli to v3.3.0
  package.json
  yarn.lock
Due: prettier-eslint --write

perf: reduce bundle size by replacing react-virtualized w/ react-window
  package.json
  src/css/common/globals.css
  src/js/common/types/react-virtualized.d.ts
  src/js/popup/components/BookmarkTree/BookmarkTree.tsx
  src/js/popup/components/BookmarkTree/index.tsx
  yarn.lock
Due: prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

style: use createRef to replace callback ref
  src/js/options/components/input_items/InputSelect.tsx
  src/js/options/components/input_items/SelectButton/Option.tsx
  src/js/popup/components/BookmarkTree/BookmarkRow.tsx
  src/js/popup/components/Search/Search.tsx
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency react-window to v1.7.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/react-redux to v7.0.4
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency eslint to v5.15.3
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/webpack to v4.4.26
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/react-window to v1.7.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency sharp to v0.22.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/react-redux to v7.0.5
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: remove useless LoaderOptionsPlugin
  webpack.config.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor(menu): use react hook
  src/js/popup/components/Menu/MenuRow.tsx
  src/js/popup/components/Menu/index.tsx
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: use react hook to rewrite some components
  src/js/options/components/NavBar/NavBarItem.tsx
  src/js/options/components/OptionForm/index.tsx
  src/js/popup/components/AbsPositionWithinBody.tsx
  src/js/popup/components/App/withKeyboardEvents.tsx
  src/js/popup/components/App/withMouseEvents.tsx
  src/js/popup/components/BookmarkTree/BookmarkRow.tsx
  src/js/popup/components/BookmarkTrees/index.tsx
  src/js/popup/components/BookmarkTrees/withBookmarkEvents.tsx
  src/js/popup/components/BookmarkTrees/withDragAndDropEvents.tsx
  src/js/popup/components/Search/Search.tsx
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update babel monorepo to v7.4.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/node to v11.11.4
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency typescript to v3.3.4000
  package.json
  yarn.lock
Due: prettier-eslint --write

refactor: add useGlobalEvents & remove unused code
  src/js/popup/components/App/index.tsx
  src/js/popup/components/App/useGlobalEvents.ts
  src/js/popup/components/App/withKeyboardEvents.tsx
  src/js/popup/components/App/withMouseEvents.tsx
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: rewrite BookmarkTree using react hook
  src/js/popup/components/BookmarkTree/BookmarkTree.tsx
  src/js/popup/components/BookmarkTree/index.tsx
  src/js/popup/components/BookmarkTree/useRowClickEvents.ts
  src/js/popup/components/BookmarkTree/useRowDragEvents.ts
  src/js/popup/components/BookmarkTree/useRowHoverEvents.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: move BookmarkTree layout logic to container
  src/js/popup/components/BookmarkTree/BookmarkTree.tsx
  src/js/popup/components/BookmarkTree/index.tsx
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: rewrite Search using react hook
  src/js/popup/components/BookmarkTrees/index.tsx
  src/js/popup/components/Search/index.tsx
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: rewrite Editor using react hook
  src/js/popup/components/Editor/Editor.tsx
  src/js/popup/components/Editor/index.tsx
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: rewrite DragAndDrop using react hook
  src/js/popup/components/dragAndDrop/DragAndDropConsumer.tsx
  src/js/popup/components/dragAndDrop/DragAndDropContext.tsx
  src/js/popup/components/dragAndDrop/DragAndDropProvider.tsx
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: move 'prevent saving options by pressing enter' to form level
  src/js/options/components/OptionForm/OptionForm.tsx
  src/js/options/components/input_items/InputNumber.tsx
  src/js/options/components/input_items/InputSelect.tsx
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: rewrite input_items using react hook
  src/js/options/components/input_items/InputNumber.tsx
  src/js/options/components/input_items/InputSelect.tsx
  src/js/options/components/input_items/SelectButton/Option.tsx
  src/js/options/components/input_items/SelectMultiple/Option.tsx
  src/js/options/components/input_items/SelectString.tsx
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json
