Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

chore(deps): update dependency @types/react to v16.9.41
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/jest to v26.0.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/node to v14.0.14
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/firefox-webext-browser to v78
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/webpack to v4.41.18
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

fixup! chore(deps): lock file maintenance
  package.json
  src/popup/components/BookmarkTree/index.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update babel monorepo to v7.10.4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency copy-webpack-plugin to v6.0.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update babel monorepo to v7.10.4
  yarn.lock
Due: none

chore(deps): update dependency typescript to v3.9.6
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/ramda to v0.27.7
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update @foray1010/common-presets monorepo
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.4.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency type-coverage to v2.8.4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @foray1010/babel-preset to v5.2.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/jest to v26.0.4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/webpack to v4.41.21
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/ramda to v0.27.10
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): lock file maintenance
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: sort package.json via prettier
  .lintstagedrc.js
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update commitlint monorepo to v9.1.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/react to v16.9.43
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update dependency @types/react to v16.9.43
  yarn.lock
Due: none

chore(deps): update dependency @types/ramda to v0.27.11
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

Path conditions:
  yarn prettier --write: ((((any of: *.css) or (any of: *.{js,ts,tsx})) or (any of: *.{json,yaml,yml})) or (any of: *.md)) or (any of: package.json)
  yarn stylelint --fix: any of: *.css
  yarn eslint --fix: any of: *.{js,ts,tsx}
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.{js,ts,tsx}
  yarn remark: any of: *.md
  ignore-sync: any of: *ignore-sync
  sort-package-json: any of: package.json
