Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --parser json --write, prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, markdownlint, ignore-sync

chore: cleanup
  .flowconfig
Due: none

chore(deps): update dependency @types/react-dom to v16.8.3
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/stylelint to v9.10.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: enable React.StrictMode
  src/js/options/index.tsx
  src/js/popup/index.tsx
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency @types/ramda to v0.26.4
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/node to v11.11.5
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/sharp to v0.22.0
  package.json
  yarn.lock
Due: prettier-eslint --write

refactor: rewrite withKeyboardNav using react hook
  src/js/popup/components/BookmarkTrees/withKeyboardNav.tsx
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency chrome-manifest-loader to v0.2.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency copy-webpack-plugin to v5.0.2
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update react monorepo to v16.8.5
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/node to v11.11.6
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: get minimum_chrome_version from browserslist
  src/manifest.yml
  webpack.config.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: remove utils/index.ts
  src/js/popup/reduxs/bookmark/saga/modules/getSearchResult.ts
  src/js/popup/reduxs/bookmark/saga/modules/sortBookmarksByName.ts
  src/js/popup/utils/index.ts
  src/js/popup/utils/lastPosition.ts
  src/js/popup/utils/sortByTitle.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fixup! refactor: rewrite BookmarkTree using react hook
  src/js/popup/components/BookmarkTree/BookmarkTree.tsx
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency markdownlint-cli to v0.14.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency styled-components to v4.2.0
  package.json
  yarn.lock
Due: prettier-eslint --write

fixup! chore(deps): update dependency styled-components to v4.2.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/ramda to v0.26.5
  package.json
  yarn.lock
Due: prettier-eslint --write

feat: remember last position
  src/js/common/utils/webExtensionWrapper.ts
  src/js/options/reduxs/options/saga.ts
  src/js/popup/components/BookmarkTree/BookmarkTree.tsx
  src/js/popup/components/BookmarkTree/index.tsx
  src/js/popup/index.tsx
  src/js/popup/reduxs/bookmark/saga/modules/initBookmarkTrees.test.ts
  src/js/popup/reduxs/bookmark/saga/modules/initBookmarkTrees.ts
  src/js/popup/reduxs/index.ts
  src/js/popup/reduxs/localStorage/actions.ts
  src/js/popup/reduxs/localStorage/reducer.ts
  src/js/popup/reduxs/localStorage/saga.ts
  src/js/popup/reduxs/rootReducer.ts
  src/js/popup/reduxs/rootSaga.ts
  src/js/popup/types/localStorage.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fixup! feat: remember last position
  src/js/popup/components/BookmarkTree/BookmarkTree.tsx
  src/js/popup/components/BookmarkTree/index.tsx
  src/js/popup/index.tsx
  src/js/popup/reduxs/index.ts
  src/js/popup/reduxs/lastPositions/actions.ts
  src/js/popup/reduxs/lastPositions/reducer.ts
  src/js/popup/reduxs/lastPositions/saga.ts
  src/js/popup/reduxs/localStorage/actions.ts
  src/js/popup/reduxs/localStorage/reducer.ts
  src/js/popup/reduxs/localStorage/saga.ts
  src/js/popup/reduxs/rootReducer.ts
  src/js/popup/reduxs/rootSaga.ts
  src/js/popup/types/localStorage.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fixup! feat: remember last position
  src/js/popup/components/BookmarkTree/BookmarkTree.tsx
  src/js/popup/components/BookmarkTree/index.tsx
  src/js/popup/components/BookmarkTree/useLastPosition.ts
  src/js/popup/reduxs/bookmark/saga/modules/initBookmarkTrees.test.ts
  src/js/popup/reduxs/bookmark/saga/modules/initBookmarkTrees.ts
  src/js/popup/reduxs/lastPositions/actions.ts
  src/js/popup/reduxs/lastPositions/saga.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency @types/node to v11.11.7
  package.json
  yarn.lock
Due: prettier-eslint --write

fixup! feat: remember last position
  src/js/popup/components/BookmarkTree/index.tsx
  src/js/popup/components/BookmarkTree/useRememberLastPositions.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fixup! feat: remember last position
  src/js/popup/reduxs/lastPositions/saga.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

feat: remember last positions (#357)
  src/js/common/utils/webExtensionWrapper.ts
  src/js/options/reduxs/options/saga.ts
  src/js/popup/components/BookmarkTree/BookmarkTree.tsx
  src/js/popup/components/BookmarkTree/index.tsx
  src/js/popup/components/BookmarkTree/useRememberLastPositions.ts
  src/js/popup/index.tsx
  src/js/popup/reduxs/bookmark/saga/modules/initBookmarkTrees.test.ts
  src/js/popup/reduxs/bookmark/saga/modules/initBookmarkTrees.ts
  src/js/popup/reduxs/index.ts
  src/js/popup/reduxs/lastPositions/actions.ts
  src/js/popup/reduxs/lastPositions/reducer.ts
  src/js/popup/reduxs/lastPositions/saga.ts
  src/js/popup/reduxs/rootReducer.ts
  src/js/popup/reduxs/rootSaga.ts
  src/js/popup/types/localStorage.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

docs: update legacy version link
  README.md
Due: markdownlint

docs: remove unnecessary info in README
  README.md
Due: markdownlint

Path conditions:
  prettier-eslint --parser json --write: any of: .babelrc
  prettier-eslint --write: ((any of: *.css) or (any of: *.{js,ts,tsx})) or (any of: *.{json,yaml,yml})
  stylelint --fix: any of: *.css
  import-sort --write: any of: *.{js,ts,tsx}
  eslint --fix: any of: *.{js,ts,tsx}
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.{js,ts,tsx}
  markdownlint: any of: *.md
  ignore-sync: any of: *ignore-sync
