Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

refactor(css): rename --golden-gap to --gap-px
  src/core/components/baseItems/Button/styles.module.css
  src/core/components/baseItems/Input/styles.module.css
  src/core/components/baseItems/Select/styles.module.css
  src/core/styles/globals.module.css
  src/options/components/NavBar/styles.module.css
  src/options/components/OptionForm/OptionItem/SelectButton/Option/styles.module.css
  src/options/components/OptionForm/OptionItem/SelectMultiple/styles.module.css
  src/options/components/OptionForm/option-form.module.css
  src/options/components/donate.module.css
  src/popup/components/App/globals.module.css
  src/popup/components/BookmarkTree/BookmarkRow/bookmark-row.module.css
  src/popup/components/BookmarkTree/bookmark-tree.module.css
  src/popup/components/BookmarkTree/no-search-result.module.css
  src/popup/components/BookmarkTree/tree-header.module.css
  src/popup/components/BookmarkTrees/bookmark-trees.module.css
  src/popup/components/Search/search-input.module.css
  src/popup/components/editor/editor-form.module.css
  src/popup/components/menu/menu-row.module.css
  src/popup/components/menu/menu.module.css
Due: yarn prettier --write, yarn stylelint --fix

feat: blur background of `Mask`
  .size-limit.json
  src/core/styles/globals.module.css
  src/options/components/NavBar/styles.module.css
  src/options/components/OptionForm/OptionItem/InputSelect/styles.module.css
  src/options/components/OptionForm/OptionItem/SelectButton/styles.module.css
  src/popup/components/App/globals.module.css
  src/popup/components/BookmarkTree/bookmark-tree.module.css
  src/popup/components/BookmarkTree/tree-header.module.css
  src/popup/components/Mask/index.tsx
  src/popup/components/Mask/mask.module.css
  src/popup/components/editor/editor-form.module.css
  src/popup/components/menu/menu.module.css
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

feat: add accent-color to checkbox
  src/options/components/OptionForm/OptionItem/SelectMultiple/styles.module.css
Due: yarn prettier --write, yarn stylelint --fix

refactor: use whitelist approach to determine if the element is string input
  src/core/components/baseItems/Input/index.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: support different writing mode in `SelectButton`
  .size-limit.json
  src/options/components/OptionForm/OptionItem/SelectButton/Option/styles.module.css
  src/options/components/OptionForm/OptionItem/SelectButton/index.tsx
  src/options/components/OptionForm/OptionItem/SelectButton/styles.module.css
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: support different writing mode in `SelectButton`
  .size-limit.json
  src/options/components/OptionForm/OptionItem/SelectButton/Option/index.tsx
  src/options/components/OptionForm/OptionItem/SelectButton/Option/styles.module.css
  src/options/components/OptionForm/OptionItem/SelectButton/index.tsx
  src/options/components/OptionForm/OptionItem/SelectButton/styles.module.css
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: accept string or number value in `SelectButton`
  .size-limit.json
  src/options/components/OptionForm/OptionItem/SelectButton/index.tsx
  src/options/components/OptionForm/OptionItem/index.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: better types in `OptionItem`
  src/core/types/options.ts
  src/options/components/OptionForm/OptionForm.tsx
  src/options/components/OptionForm/OptionItem/InputNumber/index.tsx
  src/options/components/OptionForm/OptionItem/SelectButton/index.tsx
  src/options/components/OptionForm/OptionItem/index.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fix: mark input fields in options as required
  .size-limit.json
  src/options/components/OptionForm/OptionItem/index.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: improve bookmark tree css
  .size-limit.json
  src/popup/components/App/index.tsx
  src/popup/components/BookmarkTree/BookmarkRow/BookmarkRow.tsx
  src/popup/components/BookmarkTree/BookmarkRow/bookmark-row.module.css
  src/popup/components/BookmarkTree/BookmarkRow/index.tsx
  src/popup/components/BookmarkTree/BookmarkTree.tsx
  src/popup/components/BookmarkTree/bookmark-tree.module.css
  src/popup/components/BookmarkTree/index.tsx
  src/popup/components/BookmarkTrees/BookmarkTrees.tsx
  src/popup/components/BookmarkTrees/bookmark-trees.module.css
  src/popup/components/BookmarkTrees/index.tsx
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

feat: scale the whole UI based on font size
  src/core/components/baseItems/Button/styles.module.css
  src/core/components/baseItems/Input/styles.module.css
  src/core/components/baseItems/Select/styles.module.css
  src/core/styles/globals.module.css
  src/options/components/NavBar/styles.module.css
  src/options/components/OptionForm/OptionItem/SelectMultiple/styles.module.css
  src/options/components/OptionForm/option-form.module.css
  src/options/components/donate.module.css
  src/popup/components/App/globals.module.css
  src/popup/components/App/index.tsx
  src/popup/components/BookmarkTree/BookmarkRow/bookmark-row.module.css
  src/popup/components/BookmarkTree/bookmark-tree.module.css
  src/popup/components/BookmarkTree/no-search-result.module.css
  src/popup/components/BookmarkTree/tree-header.module.css
  src/popup/components/BookmarkTrees/bookmark-trees.module.css
  src/popup/components/Search/search-input.module.css
  src/popup/components/editor/editor-form.module.css
  src/popup/components/floatingWindow/FloatingWindow.tsx
  src/popup/components/menu/menu-row.module.css
  src/popup/components/menu/menu.module.css
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update all dependencies
  .size-limit.json
  .swcrc
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: make sure hidden attribute works
  .size-limit.json
  src/core/styles/globals.module.css
Due: yarn prettier --write, yarn stylelint --fix

refactor: replace react hooks testing library by the react one
  package.json
  src/options/hooks/__tests__/options.test.ts
  src/popup/components/BookmarkTrees/__tests__/useRememberLastPositions.test.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

refactor: replace @reach/portal by react-dom createPortal
  .size-limit.json
  package.json
  src/popup/components/floatingWindow/FloatingWindow.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

fix: avoid content jumping when opening menu or editor
  .size-limit.json
  src/popup/components/floatingWindow/FloatingWindow.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: update tree header styles
  src/popup/components/BookmarkTree/tree-header.module.css
Due: yarn prettier --write, yarn stylelint --fix

chore: fix option page styling
  .size-limit.json
  src/options/components/App/index.tsx
  src/options/components/App/styles.module.css
  src/options/components/NavBar/styles.module.css
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

feat: migrate to Manifest V3
  .browserslistrc
  .size-limit.json
  src/.eslintrc.cjs
  src/manifest.yml
  src/popup/modules/bookmarks/methods/openBookmark.ts
  src/popup/modules/bookmarks/utils/transformers.ts
  src/popup/utils/faviconUrl.ts
  webpack.config.cts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

feat: show higher resolution for bookmark favicon
  src/popup/utils/faviconUrl.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fix: cannot execute multiple bookmarklets
  .size-limit.json
  src/popup/modules/bookmarks/methods/openBookmark.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fix: does not close the popup when opening all bookmarks in an empty folder
  src/popup/modules/bookmarks/methods/openBookmark.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

perf: reduce content jumping when rendering bookmark tree
  src/popup/components/BookmarkTree/BookmarkTree.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: only show last bookmark indicator in last item
  .size-limit.json
  src/popup/components/BookmarkTree/BookmarkTree.tsx
  src/popup/components/BookmarkTree/bookmark-tree.module.css
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: align css styles
  src/core/components/baseItems/Input/index.tsx
  src/core/components/baseItems/Input/styles.module.css
  src/core/styles/composes.module.css
  src/options/components/NavBar/index.tsx
  src/options/components/NavBar/styles.module.css
  src/options/components/OptionForm/OptionForm.tsx
  src/options/components/OptionForm/OptionItem/SelectButton/Option/index.tsx
  src/options/components/OptionForm/OptionItem/SelectButton/Option/styles.module.css
  src/options/components/OptionForm/option-form.module.css
  src/popup/components/BookmarkTree/BookmarkRow/BookmarkRow.tsx
  src/popup/components/BookmarkTree/BookmarkRow/bookmark-row.module.css
  src/popup/components/BookmarkTree/BookmarkRow/index.tsx
  src/popup/components/BookmarkTree/no-search-result.module.css
  src/popup/components/BookmarkTree/tree-header.module.css
  src/popup/components/Search/SearchInput.tsx
  src/popup/components/Search/search-input.module.css
  src/popup/components/menu/MenuRow.tsx
  src/popup/components/menu/menu-row.module.css
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: fix drag indicator layout
  .size-limit.json
  src/popup/components/BookmarkTree/BookmarkRow/bookmark-row.module.css
Due: yarn prettier --write, yarn stylelint --fix

build: fix production build cannot run
  webpack.config.cts
Due: none

perf: further reduce content jumping when opening menu
  src/popup/components/floatingWindow/FloatingWindow.tsx
  src/popup/components/menu/MenuContainer.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

build: reduce bundle size
  .size-limit.json
  webpack.config.cts
Due: yarn prettier --write

refactor(css): use modern notation for color-functions
  src/core/styles/globals.module.css
  src/popup/components/Mask/index.tsx
  src/popup/components/menu/menu.module.css
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: improve types
  src/popup/components/editor/EditorForm.tsx
  src/popup/components/floatingWindow/FloatingWindow.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: scale menu shadow with font size
  src/popup/components/menu/menu.module.css
Due: yarn prettier --write, yarn stylelint --fix

perf: reintroduce fix for reducing content jumping when opening menu
  .size-limit.json
  src/popup/components/floatingWindow/FloatingWindow.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: prevent horizontal scrollbar when opening menu with large font size
  src/popup/components/menu/menu.module.css
Due: yarn prettier --write, yarn stylelint --fix

refactor: create react root element in html template
  .size-limit.json
  src/core/utils/createAndRenderRoot.ts
  src/template.html
  webpack.config.cts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: use more optional chaining operators
  src/options/components/OptionForm/OptionItem/InputSelect/index.tsx
  src/options/components/OptionForm/OptionItem/SelectButton/Option/index.tsx
  src/popup/components/Search/index.tsx
  src/popup/components/keyBindings/KeyBindingsWindow.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: make sure every MenuItem is handled in switch case
  src/popup/components/menu/Menu.tsx
  src/popup/components/menu/MenuContainer.tsx
  src/popup/components/menu/MenuRow.tsx
  src/popup/components/menu/constants.ts
  src/popup/components/menu/types.ts
  src/popup/components/menu/utils.ts
  src/popup/constants/index.ts
  src/popup/types/index.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

style: update constants import styles
  .size-limit.json
  src/options/constants/index.ts
  src/popup/components/BookmarkTree/BookmarkRow/index.tsx
  src/popup/components/BookmarkTree/BookmarkTree.tsx
  src/popup/components/BookmarkTree/index.tsx
  src/popup/components/BookmarkTree/useRowDragEvents.ts
  src/popup/modules/bookmarks/contexts/bookmarkTrees.ts
  src/popup/modules/bookmarks/methods/getBookmark.ts
  src/popup/modules/bookmarks/utils/generators.ts
  src/popup/modules/bookmarks/utils/transformers.ts
  src/popup/types/index.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: use optional type in BookmarkInfo
  .size-limit.json
  src/popup/components/BookmarkTree/BookmarkRow/BookmarkRow.tsx
  src/popup/components/BookmarkTree/BookmarkRow/useTooltip.ts
  src/popup/components/BookmarkTree/useRowDragEvents.ts
  src/popup/components/editor/EditorForm.tsx
  src/popup/components/menu/MenuContainer.tsx
  src/popup/constants/index.ts
  src/popup/modules/bookmarks/contexts/bookmarkTrees.ts
  src/popup/modules/bookmarks/methods/copyBookmark.ts
  src/popup/modules/bookmarks/methods/openBookmark.ts
  src/popup/modules/bookmarks/utils/generators.ts
  src/popup/modules/bookmarks/utils/transformers.ts
  src/popup/types/index.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: replace nanoid by native crypto.randomUUID()
  .size-limit.json
  package.json
  src/popup/modules/bookmarks/methods/createBookmark.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

Path conditions:
  yarn prettier --write: ((((any of: *.css) or (any of: *.{js,ts,tsx})) or (any of: *.{json,yaml,yml})) or (any of: *.md)) or (any of: package.json)
  yarn stylelint --fix: any of: *.css
  yarn eslint --fix: any of: *.{js,ts,tsx}
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.{js,ts,tsx}
  yarn remark: any of: *.md
  ignore-sync: any of: *ignore-sync
  sort-package-json: any of: package.json
