Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

.lintstagedrc.yml:

'*.css':
  - 'yarn prettier --write'
  - 'yarn stylelint --fix'
'*.{js,ts,tsx}':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
  - 'jest --bail --findRelatedTests --config .jestrc.json'
'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'*ignore-sync':
  - 'ignore-sync'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

chore(deps): update dependency ts-node to v8.7.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: use nanoid for random html id
  src/options/components/input_items/SelectMultiple/Option.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency file-loader to v6
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: clearer logic
  scripts/generateLocalesFromTransifex.ts
  src/popup/index.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency prompts to v2.3.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update react monorepo to v16.13.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update babel monorepo
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency sharp to v0.25.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency webpack to v4.42.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency yaml-loader to v0.6.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency ts-node to v8.8.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/ramda to v0.27.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.0.9
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency prettier to v2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update dependency prettier to v2
  src/options/components/OptionForm/index.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fixup! fixup! chore(deps): update dependency prettier to v2
  package.json
  scripts/generateLocalesFromTransifex.ts
  scripts/generateMarkdown.ts
  src/core/utils/getOptionsConfig.ts
  src/options/components/Contributors.tsx
  src/options/components/input_items/InputSelect.tsx
  src/options/components/input_items/SelectButton/index.tsx
  src/options/components/input_items/SelectMultiple/Option.tsx
  src/popup/components/App/useGlobalEvents.ts
  src/popup/components/BookmarkTree/index.tsx
  src/popup/components/BookmarkTree/useRowDragEvents.ts
  src/popup/components/BookmarkTree/useRowHoverEvents.ts
  src/popup/components/BookmarkTrees/BookmarkTrees.tsx
  src/popup/components/BookmarkTrees/index.tsx
  src/popup/components/BookmarkTrees/withKeyboardNav.tsx
  src/popup/components/Menu/Menu.tsx
  src/popup/components/absolutePosition/useGlobalBodySize.ts
  src/popup/components/keyBindings/KeyBindingsProvider.tsx
  src/popup/components/keyBindings/reducers/keyBindingsPerWindow.ts
  src/popup/components/keyBindings/reducers/windows.ts
  src/popup/reduxs/bookmark/reducer.ts
  src/popup/reduxs/bookmark/saga/modules/getSearchResult.ts
  src/popup/reduxs/bookmark/saga/modules/initBookmarkTrees.ts
  src/popup/reduxs/bookmark/saga/modules/openBookmarksInBrowser.ts
  src/popup/reduxs/bookmark/saga/modules/openFolderInBrowser.ts
  src/popup/reduxs/bookmark/saga/modules/refreshBookmarkTrees.ts
  src/popup/reduxs/bookmark/saga/modules/sortBookmarksByName.ts
  src/popup/reduxs/bookmark/saga/modules/toggleBookmarkTree.ts
  src/popup/reduxs/bookmark/saga/utils/getters.test.ts
  src/popup/reduxs/bookmark/saga/utils/getters.ts
  src/popup/reduxs/lastPositions/saga.ts
  src/popup/reduxs/menu/saga/modules/clickMenuRow.ts
  src/popup/reduxs/menu/saga/utils/getMenuPattern.ts
  webpack.config.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update @foray1010/common-presets monorepo
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/react to v16.9.27
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency prettier to v2 (#940)
  package.json
  scripts/generateLocalesFromTransifex.ts
  scripts/generateMarkdown.ts
  src/core/utils/getOptionsConfig.ts
  src/options/components/Contributors.tsx
  src/options/components/OptionForm/index.tsx
  src/options/components/input_items/InputSelect.tsx
  src/options/components/input_items/SelectButton/index.tsx
  src/options/components/input_items/SelectMultiple/Option.tsx
  src/popup/components/App/useGlobalEvents.ts
  src/popup/components/BookmarkTree/index.tsx
  src/popup/components/BookmarkTree/useRowDragEvents.ts
  src/popup/components/BookmarkTree/useRowHoverEvents.ts
  src/popup/components/BookmarkTrees/BookmarkTrees.tsx
  src/popup/components/BookmarkTrees/index.tsx
  src/popup/components/BookmarkTrees/withKeyboardNav.tsx
  src/popup/components/Menu/Menu.tsx
  src/popup/components/absolutePosition/useGlobalBodySize.ts
  src/popup/components/keyBindings/KeyBindingsProvider.tsx
  src/popup/components/keyBindings/reducers/keyBindingsPerWindow.ts
  src/popup/components/keyBindings/reducers/windows.ts
  src/popup/reduxs/bookmark/reducer.ts
  src/popup/reduxs/bookmark/saga/modules/getSearchResult.ts
  src/popup/reduxs/bookmark/saga/modules/initBookmarkTrees.ts
  src/popup/reduxs/bookmark/saga/modules/openBookmarksInBrowser.ts
  src/popup/reduxs/bookmark/saga/modules/openFolderInBrowser.ts
  src/popup/reduxs/bookmark/saga/modules/refreshBookmarkTrees.ts
  src/popup/reduxs/bookmark/saga/modules/sortBookmarksByName.ts
  src/popup/reduxs/bookmark/saga/modules/toggleBookmarkTree.ts
  src/popup/reduxs/bookmark/saga/utils/getters.test.ts
  src/popup/reduxs/bookmark/saga/utils/getters.ts
  src/popup/reduxs/lastPositions/saga.ts
  src/popup/reduxs/menu/saga/modules/clickMenuRow.ts
  src/popup/reduxs/menu/saga/utils/getMenuPattern.ts
  webpack.config.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update dependency nanoid to v3
  package.json
  src/options/components/input_items/SelectMultiple/Option.tsx
  src/popup/reduxs/bookmark/saga/modules/addSeparator.test.ts
  src/popup/reduxs/bookmark/saga/modules/addSeparator.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

fixup! chore(deps): lock file maintenance
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance (#942)
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @foray1010/eslint-config to v2.2.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @foray1010/remark-preset to v3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update dependency @foray1010/remark-preset to v3
  .lintstagedrc.js
  .lintstagedrc.yml
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json
