Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency @babel/core to v7.11.4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @testing-library/react to v10.4.9
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency jest to v26.4.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: upgrade all dependencies
  package.json
  src/options/components/Donate.tsx
  src/options/components/ExternalLink.tsx
  src/options/components/inputItems/InputNumber.tsx
  src/options/components/inputItems/SelectButton/Option/index.tsx
  src/options/components/inputItems/SelectMultiple/Option.tsx
  src/popup/components/BookmarkTree/BookmarkRow/BookmarkRow.tsx
  src/popup/components/BookmarkTree/BookmarkRow/index.tsx
  src/popup/components/BookmarkTree/BookmarkTree.tsx
  src/popup/components/BookmarkTree/index.tsx
  src/popup/components/Editor/Editor.tsx
  src/popup/components/Editor/index.tsx
  src/popup/components/Menu/index.tsx
  src/popup/components/Search/SearchInput.tsx
  src/popup/components/Search/index.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update dependency @foray1010/eslint-config to v3.9.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update dependency @foray1010/eslint-config to v3.9.0
  __mocks__/fileMock.ts
  __mocks__/styleMock.ts
  src/core/store/configureStore.ts
  src/core/utils/renderToBody.ts
  src/popup/components/App/useGlobalEvents.ts
  src/popup/components/BookmarkTree/useRememberLastPositions.ts
  src/popup/components/BookmarkTree/useRowClickEvents.ts
  src/popup/components/BookmarkTree/useRowDragEvents.ts
  src/popup/components/BookmarkTree/useRowHoverEvents.ts
  src/popup/components/BookmarkTrees/index.tsx
  src/popup/components/BookmarkTrees/withDragAndDropEvents.tsx
  src/popup/components/BookmarkTrees/withKeyboardNav.tsx
  src/popup/components/listNavigation/useKeyboardNav.ts
  src/popup/utils/sortByTitle.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency @types/react to v16.9.48
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency mini-css-extract-plugin to v0.11.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): lock file maintenance
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/react to v16.9.49
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: fix source map not used in development
  webpack.config.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency copy-webpack-plugin to v6.1.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.8.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency file-loader to v6.1.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency stylelint to v13.7.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/jest to v26.0.13
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/webpack to v4.41.22
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @babel/core to v7.11.6
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.3.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: drop open-color as it includes whole npm
  package.json
  src/core/styles/globals.css
  yarn.lock
Due: yarn prettier --write, yarn stylelint --fix, sort-package-json

chore(deps): update dependency husky to v4.3.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @foray1010/eslint-config to v4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

Path conditions:
  yarn prettier --write: ((((any of: *.css) or (any of: *.{js,ts,tsx})) or (any of: *.{json,yaml,yml})) or (any of: *.md)) or (any of: package.json)
  yarn stylelint --fix: any of: *.css
  yarn eslint --fix: any of: *.{js,ts,tsx}
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.{js,ts,tsx}
  yarn remark: any of: *.md
  ignore-sync: any of: *ignore-sync
  sort-package-json: any of: package.json
