Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

.lintstagedrc.yml:

'*.css':
  - 'yarn prettier --write'
  - 'yarn stylelint --fix'
'*.{js,ts,tsx}':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
  - 'jest --bail --findRelatedTests --config .jestrc.json'
'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'*ignore-sync':
  - 'ignore-sync'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

chore(deps): update all dependencies
  .browserslistrc
  .circleci/config.yml
  .node-version
  .renovaterc.json
  .size-limit.json
  .swcrc
  .yarnrc.yml
  README.md
  markdown/contributing.md
  markdown/developer_guide.md
  package.json
  rspack.config.ts
  src/core/components/baseItems/ActionlessForm/index.test.tsx
  src/core/components/baseItems/Button/index.test.tsx
  src/core/components/baseItems/StylelessButton/index.test.tsx
  src/core/styles/composes.module.css
  src/core/styles/globals.module.css
  src/core/utils/isMac.ts
  src/options/components/NavBar/styles.module.css
  src/options/components/OptionForm/OptionItem/SelectButton/Option/styles.module.css
  src/popup/components/BookmarkTree/no-search-result.module.css
  src/popup/components/BookmarkTree/tree-header.module.css
  src/popup/components/editor/editor-form.module.css
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, sort-package-json

test: replace jest with rstest
  .lintstagedrc.mjs
  Makefile
  __mocks__/browserExtension/bookmarks.test.ts
  __mocks__/browserExtension/storage.test.ts
  eslint.config.js
  jest-setup.ts
  jest.config.ts
  package.json
  rstest.config.ts
  rstest.setup.ts
  src/core/components/baseItems/ActionlessForm/index.test.tsx
  src/core/components/baseItems/Button/index.test.tsx
  src/core/components/baseItems/StylelessButton/index.test.tsx
  src/core/types/rstest.d.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

build(test): inherit rspack config via adapter-rspack
  package.json
  rstest.config.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): remove type-coverage
  Makefile
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): upgrade constate to 4.0.0
  .size-limit.json
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: use ref prop forwarding via spread
  .size-limit.json
  src/core/components/baseItems/ActionlessForm/index.tsx
  src/core/components/baseItems/Button/index.tsx
  src/core/components/baseItems/Input/index.tsx
  src/core/components/baseItems/PlainList/index.tsx
  src/core/components/baseItems/Select/index.tsx
  src/core/components/baseItems/StylelessButton/index.tsx
  src/popup/components/Search/SearchInput.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update all dependencies
  .node-version
  .size-limit.json
  package.json
  src/popup/components/floatingWindow/FloatingWindow.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update all dependencies
  .circleci/config.yml
  .node-version
  .size-limit.json
  .swcrc
  package.json
  src/popup/components/floatingWindow/FloatingWindow.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json
