Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

style: use shorthand for function types
  scripts/generateLocalesFromTransifex.ts
  src/core/store/configureStore.ts
  src/options/components/OptionForm/OptionForm.tsx
  src/options/components/OptionForm/OptionItem/index.tsx
  src/popup/components/BookmarkTree/BookmarkRow/index.tsx
  src/popup/components/BookmarkTree/BookmarkTree.tsx
  src/popup/components/BookmarkTree/TreeHeader.tsx
  src/popup/components/BookmarkTree/index.tsx
  src/popup/components/BookmarkTree/useRowDragEvents.ts
  src/popup/components/BookmarkTree/useRowHoverEvents.ts
  src/popup/components/Search/SearchInput.tsx
  src/popup/components/absolutePosition/useGlobalBodySize.ts
  src/popup/components/dragAndDrop/DragAndDropConsumer.tsx
  src/popup/components/dragAndDrop/DragAndDropContext.ts
  src/popup/components/editor/EditorForm.tsx
  src/popup/components/menu/Menu.tsx
  src/popup/components/menu/MenuRow.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

style: align top level catch function style
  scripts/generateLocalesFromTransifex.ts
  scripts/generateMarkdown.ts
  src/popup/index.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency @types/node to v14.14.31
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency html-webpack-plugin to v5.2.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update @foray1010/common-presets monorepo
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency mini-css-extract-plugin to v1.3.8
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update commitlint monorepo to v12
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency stylelint to v13.11.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency husky to v5.1.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency sharp to v0.27.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @testing-library/user-event to v12.7.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency react-hook-form to v6.15.4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update commitlint monorepo to v12.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency typescript to v4.2.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update dependency typescript to v4.2.2
  .husky/.gitignore
  src/options/components/NavBar/index.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): lock file maintenance
  yarn.lock
Due: none

fixup! chore(deps): lock file maintenance
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency mini-css-extract-plugin to v1.3.9
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency type-coverage to v2.16.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency webpack to v5.24.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency react-query to v3.12.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: migrate editBookmark from redux to react-query
  src/popup/components/editor/Editor.tsx
  src/popup/components/editor/EditorForm.tsx
  src/popup/hooks/bookmarks/constants.ts
  src/popup/hooks/bookmarks/index.ts
  src/popup/hooks/bookmarks/mutation/useEditBookmark.ts
  src/popup/reduxs/bookmark/actions.ts
  src/popup/reduxs/bookmark/saga/index.ts
  src/popup/reduxs/bookmark/saga/modules/editBookmark.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: migrate deleteBookmark from redux to react-query
  src/core/utils/webExtensionWrapper.ts
  src/popup/components/menu/MenuContainer.tsx
  src/popup/hooks/bookmarks/index.ts
  src/popup/hooks/bookmarks/mutation/useDeleteBookmark.ts
  src/popup/reduxs/bookmark/saga/index.ts
  src/popup/reduxs/bookmark/saga/modules/deleteBookmark.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

Path conditions:
  yarn prettier --write: ((((any of: *.css) or (any of: *.{js,ts,tsx})) or (any of: *.{json,yaml,yml})) or (any of: *.md)) or (any of: package.json)
  yarn stylelint --fix: any of: *.css
  yarn eslint --fix: any of: *.{js,ts,tsx}
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.{js,ts,tsx}
  yarn remark: any of: *.md
  ignore-sync: any of: *ignore-sync
  sort-package-json: any of: package.json
