Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

.lintstagedrc.yml:

'*.css':
  - 'yarn prettier --write'
  - 'yarn stylelint --fix'
'*.{js,ts,tsx}':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
  - 'jest --bail --findRelatedTests --config .jestrc.json'
'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'*ignore-sync':
  - 'ignore-sync'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

chore(deps): lock file maintenance
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: require node >=14.15
  .circleci/config.yml
  package.json
Due: yarn prettier --write, sort-package-json

docs: update README.md
  README.md
  markdown/developer_guide.md
  markdown/legacy_version.md
Due: yarn prettier --write, yarn remark

refactor: move global css to :root & remove css hack for [hidden]
  src/core/styles/globals.css
  src/popup/components/App/globals.css
Due: yarn prettier --write, yarn stylelint --fix

feat: support dark theme color for search and close icon
  package.json
  src/core/types/svg.d.ts
  src/popup/components/Search/SearchInput.tsx
  src/popup/components/Search/search-input.css
  src/popup/images/cancel.svg
  src/popup/images/cross.svg
  src/popup/images/folder.svg
  src/popup/images/search.svg
  src/popup/reduxs/bookmark/utils/converters.ts
  webpack.config.ts
  yarn.lock
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

refactor: reuse svg cross icon for tree header
  src/popup/components/BookmarkTree/TreeHeader.tsx
  src/popup/components/BookmarkTree/tree-header.css
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: write jest config file in typescript
  .jestrc.json
  .lintstagedrc.js
  jest.config.ts
  package.json
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update dependency @testing-library/react to v11.1.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @testing-library/user-event to v12.2.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/react-redux to v7.1.11
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency css-loader to v5.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency jest to v26.6.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency postcss-url to v10.1.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency webpack-cli to v4.2.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat: resize header font size based on font size options
  src/popup/components/BookmarkTree/tree-header.css
Due: yarn prettier --write, yarn stylelint --fix

refactor: remove hard code width from Donate component
  src/options/components/Donate.tsx
  src/options/components/donate.css
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: minor layout changes on contributors tab
  src/options/components/contributors.css
Due: yarn prettier --write, yarn stylelint --fix

feat: resize font size in search input based on font size options
  src/popup/components/Search/SearchInput.tsx
  src/popup/components/Search/search-input.css
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: use em font size for navbar items in options page
  src/options/components/NavBar/nav-bar-item.css
Due: yarn prettier --write, yarn stylelint --fix

refactor: use 1em for input font size in options page
  src/core/styles/globals.css
  src/options/components/OptionForm/option-item.css
  src/options/components/inputItems/InputSelect/styles.css
  src/options/components/inputItems/SelectButton/Option/styles.css
  src/options/components/inputItems/SelectButton/styles.css
Due: yarn prettier --write, yarn stylelint --fix

refactor: fix react error on html structure
  src/options/components/Donate.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency copy-webpack-plugin to v6.3.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency postcss to v8.1.6
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

fixup! chore(deps): lock file maintenance
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: enlarge search icon
  src/popup/components/Search/search-input.css
Due: yarn prettier --write, yarn stylelint --fix
