Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

refactor: remove unnecessary optional type checking
  .size-limit.json
  src/popup/components/BookmarkTree/index.tsx
  src/popup/components/BookmarkTrees/BookmarkTrees.tsx
  src/popup/components/editor/Editor.tsx
  src/popup/modules/bookmarks/contexts/bookmarkTrees.ts
  src/popup/modules/bookmarks/utils/clickBookmark.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: improve bookmark types
  src/popup/components/BookmarkTree/BookmarkTree.tsx
  src/popup/components/BookmarkTree/useRowClickEvents.ts
  src/popup/components/BookmarkTree/useRowDragEvents.ts
  src/popup/components/BookmarkTree/useRowHoverEvents.ts
  src/popup/modules/bookmarks/contexts/bookmarkTrees.ts
  src/popup/modules/bookmarks/methods/copyBookmark.ts
  src/popup/modules/bookmarks/methods/getBookmark.ts
  src/popup/modules/bookmarks/methods/openBookmark.ts
  src/popup/modules/bookmarks/methods/sortBookmarksByName.ts
  src/popup/modules/bookmarks/utils/generators.ts
  src/popup/modules/bookmarks/utils/transformers.ts
  src/popup/types/index.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

perf: improve startup time by inlining css
  .size-limit.json
  package.json
  webpack.config.cts
  yarn.lock
Due: yarn prettier --write, sort-package-json

style: fix minor coding styles in BookmarkRow
  .size-limit.json
  src/popup/components/BookmarkTree/BookmarkRow/index.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

build: do not inline css on development build
  webpack.config.cts
Due: none

refactor: split logic to custom hook in BookmarkTree
  .size-limit.json
  src/popup/components/App/index.tsx
  src/popup/components/BookmarkTree/BookmarkRow/BookmarkRow.tsx
  src/popup/components/BookmarkTree/BookmarkTree.tsx
  src/popup/components/BookmarkTree/index.tsx
  src/popup/components/BookmarkTrees/BookmarkTrees.tsx
  src/popup/components/lastPositions/index.test.tsx
  src/popup/components/lastPositions/index.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: replace react-virtual by @tanstack/react-virtual
  .size-limit.json
  package.json
  src/popup/components/BookmarkTree/BookmarkTree.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

refactor: move some utils to specific module
  src/popup/modules/bookmarks/methods/getBookmark.ts
  src/popup/modules/bookmarks/methods/sortBookmarksByName.ts
  src/popup/modules/bookmarks/utils/faviconUrl.ts
  src/popup/modules/bookmarks/utils/sortByTitle.ts
  src/popup/modules/bookmarks/utils/transformers.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

style: rename useBookmarkTrees to useBookmarkTreesContext
  src/popup/components/BookmarkTree/index.tsx
  src/popup/components/BookmarkTree/useRowClickEvents.ts
  src/popup/components/BookmarkTree/useRowDragEvents.ts
  src/popup/components/BookmarkTree/useRowHoverEvents.ts
  src/popup/components/BookmarkTrees/index.tsx
  src/popup/components/BookmarkTrees/withDragAndDropEvents.tsx
  src/popup/components/BookmarkTrees/withKeyboardNav.tsx
  src/popup/components/Search/index.tsx
  src/popup/components/menu/MenuContainer.tsx
  src/popup/modules/bookmarks/contexts/bookmarkTrees.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: update eslint config path
  .lintstagedrc.mjs
  eslint.config.js
  package.json
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

refactor: remove unnecessary code from keyBindings
  src/popup/components/keyBindings/KeyBindingsContext.ts
  src/popup/components/keyBindings/KeyBindingsWindow.module.css
  src/popup/components/keyBindings/KeyBindingsWindow.tsx
  src/popup/components/keyBindings/types.ts
  src/popup/components/keyBindings/useKeyBindingsEvent.ts
  src/popup/components/listNavigation/useKeyboardNav.ts
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

style: remove unnecessary utility type
  src/options/components/OptionForm/OptionForm.tsx
  src/options/hooks/options.ts
  src/popup/components/keyBindings/useKeyBindingsEvent.ts
  src/popup/modules/bookmarks/methods/openBookmark.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update all dependencies
  .size-limit.json
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: add tab index to indicate which elements are focusable
  .size-limit.json
  src/popup/components/BookmarkTree/BookmarkRow/BookmarkRow.tsx
  src/popup/components/BookmarkTree/TreeHeader.tsx
  src/popup/components/Search/index.tsx
  src/popup/components/listNavigation/useKeyboardNav.ts
  src/popup/components/menu/MenuRow.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: use inert attribute for better accessibility
  .size-limit.json
  src/popup/components/keyBindings/KeyBindingsWindow.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

perf: remove unmeasured optimizations
  .size-limit.json
  src/core/components/baseItems/ActionlessForm/index.tsx
  src/options/components/OptionForm/OptionItem/SelectButton/Option/index.tsx
  src/popup/components/Search/index.tsx
  src/popup/components/editor/Editor.tsx
  src/popup/components/listNavigation/useKeyboardNav.ts
  src/popup/components/menu/Menu.tsx
  src/popup/components/menu/MenuContainer.tsx
  src/popup/components/menu/MenuRow.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fix: do not search during IME composition
  .size-limit.json
  src/popup/components/Search/index.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor(css): avoid using confusing currentcolor
  src/popup/components/BookmarkTree/BookmarkRow/bookmark-row.module.css
  src/popup/components/BookmarkTree/bookmark-tree.module.css
  src/popup/components/BookmarkTree/no-search-result.module.css
  src/popup/components/BookmarkTree/tree-header.module.css
  src/popup/components/BookmarkTrees/bookmark-trees.module.css
  src/popup/components/Search/search-input.module.css
Due: yarn prettier --write, yarn stylelint --fix

chore: sync editorconfig
  .editorconfig
Due: none

style: sync husky script styles
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

chore: remove cross-env
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: use Makefile to replace npm scripts
  .circleci/config.yml
  .husky/pre-push
  .lintstagedrc.mjs
  Makefile
  README.md
  markdown/developer_guide.md
  package.json
  yarn.lock
Due: yarn prettier --write, yarn remark, sort-package-json

chore: use native fetch to replace axios
  package.json
  scripts/generateLocalesFromTransifex.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

perf: optimize png files
  src/options/images/btn_donateCC_LG.png
Due: none

chore(deps): update all dependencies
  .node-version
  .size-limit.json
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

docs: fix transifex url
  README.md
  markdown/contributing.md
Due: yarn prettier --write, yarn remark

chore(deps): update all dependencies
  .node-version
  .size-limit.json
  .swcrc
  jest-setup.ts
  jest.config.mjs
  package.json
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore: use webp when possible
  jest.config.mjs
  src/core/types/assets.d.ts
  src/core/types/png.d.ts
  src/core/types/svg.d.ts
  src/options/components/Donate.tsx
  src/options/images/btn_donateCC_LG.png
  src/options/images/btn_donateCC_LG.webp
  webpack.config.cts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update all dependencies
  .size-limit.json
  package.json
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  .node-version
  .size-limit.json
  package.json
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: should not close extension when clicking separator/placeholder
  .size-limit.json
  src/popup/components/BookmarkTree/useRowClickEvents.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

test: fix flaky test
  __mocks__/browserExtension/bookmarks.test.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update @foray1010/common-presets monorepo (major)
  .prettierrc.cjs
  .prettierrc.mjs
  eslint.config.js
  package.json
  src/core/utils/withProviders.tsx
  src/options/components/NavBar/styles.module.css
  src/popup/components/keyBindings/KeyBindingsContext.ts
  src/template.html
  yarn.lock
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update all dependencies
  .node-version
  package.json
  webpack.config.cts
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  .node-version
  .size-limit.json
  package.json
  webpack.config.cts
  yarn.lock
Due: yarn prettier --write, sort-package-json

Path conditions:
  yarn prettier --write: ((((any of: *.css) or (any of: *.{js,ts,tsx})) or (any of: *.{json,yaml,yml})) or (any of: *.md)) or (any of: package.json)
  yarn stylelint --fix: any of: *.css
  yarn eslint --fix: any of: *.{js,ts,tsx}
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.{js,ts,tsx}
  yarn remark: any of: *.md
  ignore-sync: any of: *ignore-sync
  sort-package-json: any of: package.json
