Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

.lintstagedrc.yml:

'*.css':
  - 'yarn prettier --write'
  - 'yarn stylelint --fix'
'*.{js,ts,tsx}':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
  - 'jest --bail --findRelatedTests --config .jestrc.json'
'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'*ignore-sync':
  - 'ignore-sync'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

chore(deps): use node:readline to replace prompts
  package.json
  scripts/generateLocalesFromTransifex.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore: remove unused transifex typings
  src/core/types/transifex.d.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency @transifex/api to v4.2.5
  package.json
  scripts/generateLocalesFromTransifex.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

refactor: simplify object type using Record
  __mocks__/browserExtension/i18n.ts
  __mocks__/browserExtension/storage.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

ci: limit bundle size
  .size-limit.json
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): upgrade all dependencies
  .size-limit.json
  package.json
  src/options/components/OptionForm/OptionItem/index.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore: update ignore files
  .gitignore
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency axios to v1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): upgrade all dependencies
  .size-limit.json
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

build: reduce bundle size
  .size-limit.json
  .swcrc
Due: yarn prettier --write

chore(deps): update dependency @reach/portal to v0.18
  .size-limit.json
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): upgrade all dependencies
  .size-limit.json
  package.json
  src/options/components/App/globals.module.css
  src/popup/components/App/globals.module.css
  yarn.lock
Due: yarn prettier --write, yarn stylelint --fix, sort-package-json

chore!: only supports `^16.13.0 || >=18.12.0` nodejs
  .circleci/config.yml
  package.json
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency immer to v9.0.16
  .size-limit.json
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  .size-limit.json
  .swcrc
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update @foray1010/common-presets monorepo (major)
  .size-limit.json
  package.json
  scripts/generateLocalesFromTransifex.ts
  scripts/generateMarkdown.ts
  src/options/components/OptionForm/OptionItem/index.tsx
  src/options/components/Router.tsx
  src/options/hooks/options.ts
  src/popup/components/menu/MenuContainer.tsx
  src/popup/modules/bookmarks/methods/openBookmark.ts
  webpack.config.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update all dependencies
  .size-limit.json
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  .size-limit.json
  package.json
  scripts/generateLocalesFromTransifex.ts
  src/popup/components/BookmarkTrees/withKeyboardNav.tsx
  src/popup/utils/isMac.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update all dependencies
  .size-limit.json
  .swcrc
  __mocks__/browserExtension/i18n.ts
  __mocks__/browserExtension/storage.ts
  package.json
  src/.eslintrc.cjs
  src/core/components/baseItems/Button/index.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

refactor: use typescript 4.9 satisfies operator
  scripts/generateLocalesFromTransifex.ts
  src/options/components/Contributors.tsx
  src/options/components/NavBar/index.tsx
  src/options/constants/index.ts
  src/popup/modules/bookmarks/methods/sortBookmarksByName.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: update license to 2023
  LICENSE
Due: none

build: remove tmp fix for swc browserslist config
  .swcrc
Due: none

chore: use ts-node as @swc-node/register does not work well with webpack
  package.json
  webpack.config.cts
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: use `userEvent.setup()` from @testing-library/user-event
  src/core/components/baseItems/ActionlessForm/index.test.tsx
  src/core/components/baseItems/Button/index.test.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: suppress react-query error when id is undefined
  .size-limit.json
  src/popup/modules/bookmarks/hooks/useGetBookmarkInfo.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

ci: limit css size
  .size-limit.json
Due: yarn prettier --write

refactor: modernize css
  .size-limit.json
  package.json
  src/core/components/baseItems/Button/styles.module.css
  src/core/components/baseItems/Input/styles.module.css
  src/core/components/baseItems/PlainList/styles.module.css
  src/core/components/baseItems/Select/styles.module.css
  src/core/styles/composes.module.css
  src/core/styles/globals.module.css
  src/options/components/App/index.tsx
  src/options/components/App/styles.module.css
  src/options/components/Donate.tsx
  src/options/components/ExternalLink/styles.module.css
  src/options/components/NavBar/styles.module.css
  src/options/components/OptionForm/OptionForm.tsx
  src/options/components/OptionForm/OptionItem/InputSelect/styles.module.css
  src/options/components/OptionForm/OptionItem/SelectButton/Option/styles.module.css
  src/options/components/OptionForm/OptionItem/SelectButton/styles.module.css
  src/options/components/OptionForm/OptionItem/SelectMultiple/index.tsx
  src/options/components/OptionForm/OptionItem/SelectMultiple/styles.module.css
  src/options/components/OptionForm/option-form.module.css
  src/options/components/contributors.module.css
  src/options/components/donate.module.css
  src/popup/components/App/globals.module.css
  src/popup/components/App/index.tsx
  src/popup/components/BookmarkTree/BookmarkRow/bookmark-row.module.css
  src/popup/components/BookmarkTree/bookmark-tree.module.css
  src/popup/components/BookmarkTree/no-search-result.module.css
  src/popup/components/BookmarkTree/tree-header.module.css
  src/popup/components/BookmarkTrees/bookmark-trees.module.css
  src/popup/components/Mask/mask.module.css
  src/popup/components/Search/search-input.module.css
  src/popup/components/editor/EditorForm.tsx
  src/popup/components/editor/editor-form.module.css
  src/popup/components/menu/menu-row.module.css
  src/popup/components/menu/menu.module.css
  yarn.lock
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore: move browserslist setting to .browserslistrc
  .browserslistrc
  package.json
Due: yarn prettier --write, sort-package-json
