Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn stylelint --fix, import-sort --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

.lintstagedrc.yml:

'*.css':
  - 'yarn prettier --write'
  - 'yarn stylelint --fix'
  - 'git add'
'*.{js,ts,tsx}':
  - 'import-sort --write'
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
  - 'jest --bail --findRelatedTests --config .jestrc.json'
  - 'git add'
'*.{json,yaml,yml}':
  - 'yarn prettier --write'
  - 'git add'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
  - 'git add'
'*ignore-sync':
  - 'ignore-sync'
  - 'git add'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'
  - 'git add'

chore(deps): update dependency @types/chance to v1.0.8
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/mini-css-extract-plugin to v0.9.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/node to v12.12.22
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency webextension-polyfill to v0.6.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: remove ramda from sortBookmarksByName saga
  src/popup/reduxs/bookmark/saga/modules/sortBookmarksByName.ts
Due: yarn prettier --write, import-sort --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

style: assign workaround type directly to css styles
  src/popup/components/App/index.tsx
  src/popup/components/BookmarkTree/BookmarkRow/BookmarkRow.tsx
  src/popup/components/BookmarkTrees/BookmarkTrees.tsx
  src/popup/components/Editor/Editor.tsx
  src/popup/components/Mask.tsx
  src/popup/components/absolutePosition/AbsolutePosition.tsx
Due: yarn prettier --write, import-sort --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: improve redux store type
  src/core/store/configureStore.ts
Due: yarn prettier --write, import-sort --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency style-loader to v1.1.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency core-js to v3.6.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency stylelint to v12.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency redux to v4.0.5
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! fix(deps): update dependency redux to v4.0.5
  src/core/store/configureStore.ts
Due: yarn prettier --write, import-sort --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency @types/jest to v24.0.25
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/ramda to v0.26.39
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency @foray1010/eslint-config to v2.0.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: do not merge webpack config
  webpack.config.ts
Due: yarn prettier --write, import-sort --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: polyfill only when needed
  package.json
  src/options/index.tsx
  src/popup/index.tsx
  webpack.config.ts
  yarn.lock
Due: yarn prettier --write, import-sort --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update dependency webpack to v4.41.5
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency typeface-archivo-narrow to v1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency sort-package-json to v1.35.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency type-coverage to v2.4.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: replace import-sort-cli by eslint-plugin-simple-import-sort
  .importsortrc.js
  .lintstagedrc.yml
  package.json
  scripts/generateLocalesFromTransifex.ts
  scripts/generateMarkdown.ts
  src/core/store/configureStore.ts
  src/options/components/NavBar/index.tsx
  src/options/components/OptionForm/index.tsx
  src/popup/components/BookmarkTree/BookmarkTree.tsx
  src/popup/components/BookmarkTree/index.tsx
  src/popup/components/BookmarkTree/useRowClickEvents.ts
  src/popup/components/BookmarkTree/useRowHoverEvents.ts
  src/popup/components/BookmarkTrees/withKeyboardNav.tsx
  src/popup/components/Editor/index.tsx
  src/popup/components/Menu/index.tsx
  src/popup/components/Search/index.tsx
  src/popup/components/listNavigation/ListNavigationContext.ts
  src/popup/reduxs/bookmark/saga/modules/deleteBookmark.test.ts
  src/popup/reduxs/bookmark/saga/modules/getSearchResult.test.ts
  src/popup/reduxs/bookmark/saga/modules/initBookmarkTrees.test.ts
  src/popup/reduxs/bookmark/saga/modules/openBookmarkTree.test.ts
  src/popup/reduxs/bookmark/saga/modules/refreshBookmarkTrees.test.ts
  src/popup/reduxs/bookmark/saga/utils/getters.test.ts
  webpack.config.ts
  yarn.lock
Due: yarn prettier --write, import-sort --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update commitlint monorepo to v8.3.4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency css-loader to v3.4.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/node to v12.12.24
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json
