Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --parser json --write, prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, markdownlint, ignore-sync

chore(deps): update dependency @types/ramda to v0.26.7
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/react-redux to v7.0.7
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency react-measure to v2.3.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency typescript to v3.4.4
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/react-redux to v7.0.8
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/node to v11.13.6
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/ramda to v0.26.8
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency webpack-cli to v3.3.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/node to v11.13.7
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency typesafe-actions to v4.1.2
  package.json
  yarn.lock
Due: prettier-eslint --write

fixup! refactor: global key bindings controller
  src/js/popup/components/BookmarkTrees/index.tsx
  src/js/popup/components/BookmarkTrees/withKeyboardNav.tsx
  src/js/popup/components/Editor/index.tsx
  src/js/popup/components/Menu/index.tsx
  src/js/popup/components/Search/index.tsx
  src/js/popup/components/keyBindings/KeyBindingsContext.ts
  src/js/popup/components/keyBindings/KeyBindingsLevelWrapper.tsx
  src/js/popup/components/keyBindings/KeyBindingsProvider.tsx
  src/js/popup/components/keyBindings/KeyBindingsWindow.css
  src/js/popup/components/keyBindings/KeyBindingsWindow.tsx
  src/js/popup/components/keyBindings/reducers/keyBindingsPerWindow.ts
  src/js/popup/components/keyBindings/reducers/windows.ts
  src/js/popup/components/keyBindings/useKeyBindingsContextState.ts
  src/js/popup/components/keyBindings/useKeyBindingsEvent.ts
  src/js/popup/components/listNavigation/useKeyboardNav.ts
  src/js/popup/constants/windows.ts
Due: prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fixup! refactor: global key bindings controller
  src/js/popup/components/keyBindings/KeyBindingsContext.ts
  src/js/popup/components/keyBindings/reducers/keyBindingsPerWindow.ts
  src/js/popup/components/keyBindings/reducers/windows.ts
  src/js/popup/components/keyBindings/useKeyBindingsContextState.ts
  src/js/popup/components/listNavigation/ListNavigationContext.ts
  src/js/popup/components/listNavigation/reducers/lists.ts
  src/js/popup/components/listNavigation/useListNavigationContextState.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fixup! refactor: global key bindings controller
  src/js/popup/components/BookmarkTree/BookmarkTree.tsx
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency typescript to v3.4.5
  package.json
  yarn.lock
Due: prettier-eslint --write

refactor: use createReducer
  src/js/options/reduxs/navigation/reducer.ts
  src/js/options/reduxs/options/reducer.ts
  src/js/popup/reduxs/bookmark/reducer.ts
  src/js/popup/reduxs/editor/reducer.ts
  src/js/popup/reduxs/menu/reducer.ts
  src/js/popup/reduxs/ui/reducer.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fix: empty line is shown in tooltip for folder
  src/js/popup/components/BookmarkTree/BookmarkRow/useTooltip.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

feat: open all bookmarks under folder by middle click
  src/js/popup/components/BookmarkTree/BookmarkRow/index.tsx
  src/js/popup/components/BookmarkTree/BookmarkTree.tsx
  src/js/popup/components/BookmarkTree/index.tsx
  src/js/popup/components/BookmarkTree/useRowClickEvents.ts
  src/js/popup/reduxs/bookmark/actions.ts
  src/js/popup/reduxs/bookmark/saga/index.ts
  src/js/popup/reduxs/bookmark/saga/modules/openBookmarksInBrowser.ts
  src/js/popup/reduxs/bookmark/saga/modules/openFolderInBrowser.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

feat: control how to open bookmark(s) by options
  src/js/popup/components/BookmarkTree/index.tsx
  src/js/popup/components/BookmarkTree/useRowClickEvents.ts
  src/js/popup/reduxs/bookmark/saga/modules/openBookmarksInBrowser.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

feat: support bookmarklet
  src/js/common/utils/webExtensionWrapper.ts
  src/js/popup/components/BookmarkTree/useRowClickEvents.ts
  src/js/popup/components/BookmarkTrees/withKeyboardNav.tsx
  src/js/popup/reduxs/bookmark/actions.ts
  src/js/popup/reduxs/bookmark/saga/modules/openBookmarksInBrowser.ts
  src/js/popup/reduxs/bookmark/saga/modules/openFolderInBrowser.ts
  src/js/popup/reduxs/menu/saga/modules/clickMenuRow.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency copy-webpack-plugin to v5.0.3
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency husky to v2
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: update renovate config
  .renovaterc.json
Due: prettier-eslint --write

chore(deps): update dependency sharp to v0.22.1
  package.json
  yarn.lock
Due: prettier-eslint --write

feat: support ctrl/shift left click to open bookmark
  src/js/popup/components/BookmarkTree/useRowClickEvents.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency @types/copy-webpack-plugin to v5
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/firefox-webext-browser to v67.0.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/node to v11.13.8
  package.json
  yarn.lock
Due: prettier-eslint --write

Path conditions:
  prettier-eslint --parser json --write: any of: .babelrc
  prettier-eslint --write: ((any of: *.css) or (any of: *.{js,ts,tsx})) or (any of: *.{json,yaml,yml})
  stylelint --fix: any of: *.css
  import-sort --write: any of: *.{js,ts,tsx}
  eslint --fix: any of: *.{js,ts,tsx}
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.{js,ts,tsx}
  markdownlint: any of: *.md
  ignore-sync: any of: *ignore-sync
