Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

.lintstagedrc.yml:

'*.css':
  - 'yarn prettier --write'
  - 'yarn stylelint --fix'
'*.{js,ts,tsx}':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
  - 'jest --bail --findRelatedTests --config .jestrc.json'
'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'*ignore-sync':
  - 'ignore-sync'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

chore(deps): update dependency @foray1010/remark-preset to v3 (#944)
  .lintstagedrc.js
  .lintstagedrc.yml
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

style: use endsWith to replace regex
  .lintstagedrc.js
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency @types/webpack to v4.41.10
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.1.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/react-dom to v16.9.6
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/ramda to v0.27.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency html-webpack-plugin to v4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update dependency html-webpack-plugin to v4
  package.json
  webpack.config.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update dependency @foray1010/remark-preset to v3.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency jest to v25.2.7
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency stylelint to v13.3.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.1.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency ts-node to v8.8.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency prettier to v2.0.4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency sort-package-json to v1.41.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency jest to v25.3.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/node to v13.11.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: fix webpack warnings on reexporting types
  src/options/components/NavBar/index.tsx
  src/options/components/NavModuleMapper.tsx
  src/options/components/OptionForm/index.tsx
  src/options/reduxs/index.ts
  src/popup/components/App/index.tsx
  src/popup/components/BookmarkTree/index.tsx
  src/popup/components/BookmarkTree/useRowClickEvents.ts
  src/popup/components/BookmarkTree/useRowHoverEvents.ts
  src/popup/components/BookmarkTrees/index.tsx
  src/popup/components/BookmarkTrees/withKeyboardNav.tsx
  src/popup/components/Editor/index.tsx
  src/popup/components/Menu/index.tsx
  src/popup/components/Search/index.tsx
  src/popup/components/keyBindings/KeyBindingsContext.ts
  src/popup/components/keyBindings/KeyBindingsProvider.tsx
  src/popup/components/keyBindings/useKeyBindingsContextState.ts
  src/popup/components/keyBindings/useKeyBindingsEvent.ts
  src/popup/reduxs/bookmark/saga/modules/getSearchResult.ts
  src/popup/reduxs/bookmark/saga/modules/initBookmarkTrees.ts
  src/popup/reduxs/bookmark/saga/modules/moveBookmarkToDragIndicator.ts
  src/popup/reduxs/bookmark/saga/modules/openBookmarkTree.ts
  src/popup/reduxs/bookmark/saga/modules/openBookmarksInBrowser.ts
  src/popup/reduxs/bookmark/saga/modules/pasteBookmark.ts
  src/popup/reduxs/bookmark/saga/modules/refreshBookmarkTrees.ts
  src/popup/reduxs/bookmark/saga/modules/toggleBookmarkTree.ts
  src/popup/reduxs/index.ts
  src/popup/reduxs/menu/saga/modules/clickMenuRow.ts
  src/popup/reduxs/menu/saga/modules/openMenu.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: prefer overriding Array.reduce generic type
  scripts/generateLocalesFromTransifex.ts
  src/options/components/OptionForm/OptionForm.tsx
  src/options/components/input_items/SelectMultiple/index.tsx
  src/options/components/input_items/SelectString.tsx
  src/options/utils/index.ts
  src/popup/components/keyBindings/KeyBindingsProvider.tsx
  src/popup/reduxs/bookmark/saga/modules/sortBookmarksByName.ts
  src/popup/reduxs/bookmark/saga/utils/getters.test.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency html-webpack-plugin to v4.2.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.1.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency core-js to v3.6.5
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json
