Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

refactor: restructure bookmark hooks
  src/popup/components/editor/Editor.tsx
  src/popup/components/menu/MenuContainer.tsx
  src/popup/hooks/bookmarks/index.ts
  src/popup/hooks/bookmarks/mutation/useDeleteBookmark.ts
  src/popup/hooks/bookmarks/query/useGetBookmarkInfo.ts
  src/popup/hooks/bookmarks/utils/generators.ts
  src/popup/hooks/bookmarks/utils/transformers.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: migrate create bookmark logic from redux to react-query
  src/popup/components/editor/Editor.tsx
  src/popup/components/menu/MenuContainer.tsx
  src/popup/hooks/bookmarks/mutation/createBookmark.ts
  src/popup/reduxs/bookmark/actions.ts
  src/popup/reduxs/bookmark/saga/index.ts
  src/popup/reduxs/bookmark/saga/modules/addCurrentPage.ts
  src/popup/reduxs/bookmark/saga/modules/addSeparator.ts
  src/popup/reduxs/bookmark/saga/modules/createBookmark.ts
  src/popup/reduxs/bookmark/saga/modules/createBookmarkAfterId.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: improve type coverage
  src/core/components/baseItems/ActionlessForm/index.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: extract common clearBookmarkCache
  src/popup/hooks/bookmarks/mutation/createBookmark.ts
  src/popup/hooks/bookmarks/mutation/useDeleteBookmark.ts
  src/popup/hooks/bookmarks/mutation/useEditBookmark.ts
  src/popup/hooks/bookmarks/mutation/utils/clearBookmarkCache.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency eslint to v7.21.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: migrate open bookmark logic from redux to react-query
  src/popup/components/BookmarkTree/useRowClickEvents.ts
  src/popup/components/BookmarkTrees/withKeyboardNav.tsx
  src/popup/components/menu/MenuContainer.tsx
  src/popup/hooks/bookmarks/index.ts
  src/popup/reduxs/bookmark/actions.ts
  src/popup/reduxs/bookmark/saga/index.ts
  src/popup/reduxs/bookmark/saga/modules/openBookmarksInBrowser.ts
  src/popup/reduxs/bookmark/saga/modules/openFolderInBrowser.ts
  src/popup/utils/openBookmarkUtils.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: refactor options logic
  src/options/components/OptionForm/index.tsx
  src/options/hooks/__tests__/options.test.ts
  src/options/hooks/options.ts
  src/popup/contexts/options.ts
  src/popup/index.tsx
  src/popup/utils/openBookmarkUtils.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency @testing-library/react-hooks to v5.1.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency css-loader to v5.1.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: move options logic from redux to context
  src/popup/components/App/index.tsx
  src/popup/components/BookmarkTree/index.tsx
  src/popup/components/BookmarkTree/useRowClickEvents.ts
  src/popup/components/BookmarkTree/useRowHoverEvents.ts
  src/popup/components/BookmarkTrees/index.tsx
  src/popup/components/BookmarkTrees/withKeyboardNav.tsx
  src/popup/components/editor/Editor.tsx
  src/popup/contexts/options.ts
  src/popup/index.tsx
  src/popup/modules/options.tsx
  src/popup/utils/openBookmarkUtils.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: code cleanup
  src/core/utils/webExtensionWrapper.ts
  src/popup/components/BookmarkTree/BookmarkRow/useTooltip.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency @testing-library/user-event to v12.8.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency husky to v5.1.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency @fontsource/archivo-narrow to v4.2.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency webpack to v5.24.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency @babel/runtime to v7.13.9
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! fix(deps): update dependency @babel/runtime to v7.13.9
  yarn.lock
Due: none

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency copy-webpack-plugin to v8
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency postcss to v8.2.7
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update @foray1010/common-presets monorepo
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency postcss-loader to v5.1.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: upgrade all dependencies
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: upgrade all dependencies
  package.json
  src/popup/reduxs/bookmark/reducer.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update dependency postcss-loader to v5.2.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

Path conditions:
  yarn prettier --write: ((((any of: *.css) or (any of: *.{js,ts,tsx})) or (any of: *.{json,yaml,yml})) or (any of: *.md)) or (any of: package.json)
  yarn stylelint --fix: any of: *.css
  yarn eslint --fix: any of: *.{js,ts,tsx}
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.{js,ts,tsx}
  yarn remark: any of: *.md
  ignore-sync: any of: *ignore-sync
  sort-package-json: any of: package.json
