Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

.lintstagedrc.yml:

'*.css':
  - 'yarn prettier --write'
  - 'yarn stylelint --fix'
'*.{js,ts,tsx}':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
  - 'jest --bail --findRelatedTests --config .jestrc.json'
'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'*ignore-sync':
  - 'ignore-sync'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

refactor: split base button
  src/core/components/base_items/Button/index.tsx
  src/core/components/base_items/Button/styles.css
  src/core/styles/composes.css
  src/options/components/NavBar/NavBarItem.tsx
  src/options/components/OptionForm/OptionButton.tsx
  src/options/components/OptionForm/OptionForm.tsx
  src/options/components/OptionForm/option-button.css
  src/options/components/input_items/SelectButton/Option.tsx
  src/options/components/input_items/SelectButton/select-button-option.css
  src/options/components/input_items/SelectButton/select-button.css
  src/popup/components/BookmarkTree/TreeHeader.tsx
  src/popup/components/Editor/Editor.tsx
  src/popup/components/Editor/editor.css
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: split PlainList and StyleslessElement
  README.md
  package.json
  src/core/components/base_items/Button/index.tsx
  src/core/components/base_items/PlainList/index.tsx
  src/core/components/base_items/PlainList/styles.css
  src/core/components/base_items/StylelessElement/index.tsx
  src/core/components/base_items/StylelessElement/styles.css
  src/core/styles/composes.css
  src/popup/components/BookmarkTree/BookmarkRow/index.tsx
  src/popup/components/BookmarkTree/BookmarkTree.tsx
  src/popup/components/Menu/Menu.tsx
  src/popup/components/Menu/MenuRow.tsx
  src/popup/components/dragAndDrop/DragAndDropConsumer.tsx
  src/popup/components/keyBindings/KeyBindingsWindow.tsx
  yarn.lock
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, sort-package-json

build!: require chrome >= 73 to reduce 6kb gzip build size
  package.json
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency chance to v1.1.5
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency type-coverage to v2.6.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency nanoid to v3.1.7
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: reorder files
  src/core/components/baseItems/Button/index.tsx
  src/core/components/baseItems/Button/styles.css
  src/core/components/baseItems/FieldSet/index.tsx
  src/core/components/baseItems/FieldSet/styles.css
  src/core/components/baseItems/PlainList/index.tsx
  src/core/components/baseItems/PlainList/styles.css
  src/core/components/baseItems/StylelessElement/index.tsx
  src/core/components/baseItems/StylelessElement/styles.css
  src/options/components/NavBar/NavBarItem.tsx
  src/options/components/OptionForm/OptionForm.tsx
  src/options/components/OptionForm/OptionItem.tsx
  src/options/components/inputItems/InputNumber.tsx
  src/options/components/inputItems/InputSelect.tsx
  src/options/components/inputItems/SelectButton/Option.tsx
  src/options/components/inputItems/SelectButton/index.tsx
  src/options/components/inputItems/SelectButton/select-button-option.css
  src/options/components/inputItems/SelectButton/select-button.css
  src/options/components/inputItems/SelectMultiple/Option.tsx
  src/options/components/inputItems/SelectMultiple/index.tsx
  src/options/components/inputItems/SelectMultiple/select-multiple.css
  src/options/components/inputItems/SelectString.tsx
  src/options/components/inputItems/input-number.css
  src/options/components/inputItems/input-select.css
  src/options/components/inputItems/select-string.css
  src/popup/components/BookmarkTree/BookmarkTree.tsx
  src/popup/components/BookmarkTree/TreeHeader.tsx
  src/popup/components/Editor/Editor.tsx
  src/popup/components/Menu/Menu.tsx
  src/popup/components/dragAndDrop/DragAndDropConsumer.tsx
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: split ActionlessForm
  src/core/components/baseItems/ActionlessForm.tsx
  src/options/components/OptionForm/OptionForm.tsx
  src/popup/components/Editor/Editor.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: all base components should forward ref
  src/core/components/baseItems/FieldSet/index.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor(options): set number input size to fit max value
  src/options/components/OptionForm/option-item.css
  src/options/components/inputItems/InputNumber.tsx
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: split Input & Select base components
  src/core/components/baseItems/Input/index.tsx
  src/core/components/baseItems/Input/styles.css
  src/core/components/baseItems/Select/index.tsx
  src/core/components/baseItems/Select/styles.css
  src/core/styles/composes.css
  src/options/components/OptionForm/option-item.css
  src/options/components/inputItems/InputNumber.tsx
  src/options/components/inputItems/InputSelect/index.tsx
  src/options/components/inputItems/InputSelect/styles.css
  src/options/components/inputItems/SelectButton/Option/index.tsx
  src/options/components/inputItems/SelectButton/Option/styles.css
  src/options/components/inputItems/SelectButton/index.tsx
  src/options/components/inputItems/SelectButton/styles.css
  src/options/components/inputItems/SelectMultiple/Option.tsx
  src/options/components/inputItems/SelectMultiple/index.tsx
  src/options/components/inputItems/SelectMultiple/styles.css
  src/options/components/inputItems/SelectString.tsx
  src/options/components/inputItems/input-number.css
  src/options/components/inputItems/select-string.css
  src/popup/components/Editor/Editor.tsx
  src/popup/components/Editor/editor.css
  src/popup/components/Search/Search.tsx
  src/popup/components/Search/search.css
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

feat: support firefox
  .jestrc.json
  package.json
  src/core/__fixtures__/options.json
  src/core/constants/index.ts
  src/core/types/options.ts
  src/core/utils/getOptionsConfig.ts
  src/manifest.yml
  src/options/components/OptionForm/OptionForm.tsx
  src/options/components/OptionForm/OptionItem.tsx
  src/options/components/inputItems/InputNumber.tsx
  src/options/components/inputItems/InputSelect/index.tsx
  src/options/components/inputItems/SelectButton/Option/index.tsx
  src/options/components/inputItems/SelectButton/index.tsx
  src/options/components/inputItems/SelectMultiple/Option.tsx
  src/options/components/inputItems/SelectMultiple/index.tsx
  src/options/components/inputItems/SelectString.tsx
  src/popup/reduxs/bookmark/saga/modules/getSearchResult.test.ts
  src/popup/reduxs/bookmark/saga/modules/getSearchResult.ts
  src/popup/reduxs/bookmark/saga/utils/getters.test.ts
  src/popup/reduxs/bookmark/saga/utils/getters.ts
  src/popup/utils/clickBookmarkUtils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update dependency typescript to v3.9.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/bluebird to v3.5.31
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/copy-webpack-plugin to v5.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/ramda to v0.27.5
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency type-coverage to v2.6.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency sharp to v0.25.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

build: reduce ~2kb bundle size by using @babel/runtime
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.2.4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency nanoid to v3.1.9
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/jest to v25.2.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/ramda to v0.27.6
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/react-redux to v7.1.9
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency stylelint to v13.5.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency typescript to v3.9.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json
