Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

.lintstagedrc.yml:

'*.css':
  - 'yarn prettier --write'
  - 'yarn stylelint --fix'
'*.{js,ts,tsx}':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
  - 'jest --bail --findRelatedTests --config .jestrc.json'
'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'*ignore-sync':
  - 'ignore-sync'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

chore: fix stylelint errors
  .browserslistrc
  .stylelintrc.cjs
Due: none

chore: require node `>=20.9.0`
  .circleci/config.yml
  .node-version
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update yarn to v4
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update tanstack-query monorepo to v5 (major)
  .size-limit.json
  eslint.config.js
  package.json
  src/options/hooks/options.ts
  src/popup/modules/bookmarks/hooks/useGetBookmarkInfo.ts
  src/popup/modules/options.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update all dependencies
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  .size-limit.json
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: use AbortController for async hooks
  .size-limit.json
  src/popup/components/BookmarkTree/BookmarkRow/useTooltip.ts
  src/popup/modules/bookmarks/contexts/bookmarkTrees.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update all dependencies
  .size-limit.json
  __mocks__/browserExtension/bookmarks.test.ts
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update all dependencies
  .size-limit.json
  __mocks__/browserExtension/bookmarks.test.ts
  package.json
  scripts/generateMarkdown.ts
  src/options/components/ExternalLink/index.test.tsx
  src/popup/components/Search/index.tsx
  webpack.config.cts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

refactor: use typed-css-modules
  .gitignore
  .gitignore-sync
  .husky/pre-commit
  Makefile
  eslint.config.js
  jest.config.mjs
  package.json
  src/core/components/baseItems/Button/index.tsx
  src/core/components/baseItems/Input/index.tsx
  src/core/components/baseItems/PlainList/index.tsx
  src/core/components/baseItems/Select/index.tsx
  src/core/types/css.d.ts
  src/options/components/App/index.tsx
  src/options/components/Contributors.tsx
  src/options/components/Donate.tsx
  src/options/components/ExternalLink/index.tsx
  src/options/components/NavBar/index.tsx
  src/options/components/OptionForm/OptionForm.tsx
  src/options/components/OptionForm/OptionItem/InputNumber/index.tsx
  src/options/components/OptionForm/OptionItem/InputSelect/index.tsx
  src/options/components/OptionForm/OptionItem/SelectButton/Option/index.tsx
  src/options/components/OptionForm/OptionItem/SelectButton/index.tsx
  src/options/components/OptionForm/OptionItem/SelectMultiple/index.tsx
  src/options/components/OptionForm/OptionItem/SelectString/index.tsx
  src/popup/components/BookmarkTree/BookmarkRow/BookmarkRow.tsx
  src/popup/components/BookmarkTree/BookmarkRow/index.tsx
  src/popup/components/BookmarkTree/NoSearchResult.tsx
  src/popup/components/BookmarkTree/TreeHeader.tsx
  src/popup/components/BookmarkTree/index.tsx
  src/popup/components/BookmarkTrees/BookmarkTrees.tsx
  src/popup/components/Mask/index.tsx
  src/popup/components/Search/SearchInput.tsx
  src/popup/components/editor/EditorForm.tsx
  src/popup/components/keyBindings/KeyBindingsWindow.tsx
  src/popup/components/menu/Menu.tsx
  src/popup/components/menu/MenuRow.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, ignore-sync, sort-package-json

refactor: improve types
  src/core/components/baseItems/ActionlessForm/index.tsx
  src/core/components/baseItems/Button/index.tsx
  src/core/components/baseItems/Input/index.tsx
  src/core/components/baseItems/LazyImage.tsx
  src/core/components/baseItems/PlainList/index.tsx
  src/core/components/baseItems/Select/index.tsx
  src/core/types/assets.d.ts
  src/core/utils/createAndRenderRoot.ts
  src/options/components/ExternalLink/index.tsx
  src/options/components/OptionForm/OptionItem/SelectButton/Option/index.tsx
  src/popup/components/BookmarkTree/BookmarkRow/BookmarkRow.tsx
  src/popup/components/BookmarkTree/BookmarkRow/index.tsx
  src/popup/components/Search/SearchInput.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update all dependencies
  .node-version
  .size-limit.json
  .swcrc
  __mocks__/browserExtension/storage.ts
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update all dependencies
  .swcrc
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  .size-limit.json
  .swcrc
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: minor refactorings
  .size-limit.json
  __mocks__/browserExtension/bookmarks.ts
  __mocks__/browserExtension/i18n.ts
  __mocks__/browserExtension/runtime.ts
  __mocks__/browserExtension/storage.ts
  __mocks__/browserExtension/utils/object.ts
  src/core/components/baseItems/LazyImage.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: minor refactorings
  .size-limit.json
  __mocks__/browserExtension/bookmarks.ts
  __mocks__/browserExtension/i18n.ts
  __mocks__/browserExtension/runtime.ts
  __mocks__/browserExtension/storage.ts
  __mocks__/browserExtension/utils/object.ts
  src/core/components/baseItems/LazyImage.tsx
  src/options/components/Donate.tsx
  src/options/components/OptionForm/OptionItem/index.tsx
  src/popup/components/BookmarkTree/BookmarkRow/BookmarkRow.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: fix menu height is not correct when popup window is small
  src/popup/components/menu/menu.module.css
Due: yarn prettier --write, yarn stylelint --fix

chore(release): 8.0.0
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn remark, sort-package-json

docs: update changelog
  CHANGELOG.md
Due: yarn prettier --write, yarn remark

chore: fix `make locales` script
  Makefile
  scripts/generateMarkdown.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: use `readline/promises`
  scripts/generateLocalesFromTransifex.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update all dependencies
  .node-version
  .size-limit.json
  .swcrc
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  .node-version
  .size-limit.json
  package.json
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .node-version
  .size-limit.json
  package.json
  scripts/generateLocalesFromTransifex.ts
  tsconfig.json
  webpack.config.cts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update all dependencies
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .node-version
  .size-limit.json
  .swcrc
  package.json
  scripts/generateLocalesFromTransifex.ts
  webpack.config.cts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update all dependencies
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .node-version
  .size-limit.json
  .swcrc
  __mocks__/browserExtension/storage.ts
  package.json
  scripts/generateLocalesFromTransifex.ts
  src/core/utils/array.ts
  src/popup/components/floatingWindow/useGlobalBodySize.ts
  src/popup/modules/bookmarks/methods/openBookmark.ts
  webpack.config.cts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update all dependencies
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .node-version
  .size-limit.json
  .swcrc
  __mocks__/browserExtension/storage.ts
  eslint.config.js
  package.json
  scripts/generateLocalesFromTransifex.ts
  src/core/hooks/useLatestRef.ts
  src/core/types/assets.d.ts
  src/core/utils/array.ts
  src/core/utils/createAndRenderRoot.ts
  src/core/utils/withProviders.tsx
  src/popup/components/BookmarkTree/BookmarkRow/index.tsx
  src/popup/components/BookmarkTree/BookmarkTree.tsx
  src/popup/components/BookmarkTree/useRowClickEvents.ts
  src/popup/components/BookmarkTree/useRowDragEvents.ts
  src/popup/components/BookmarkTrees/withDragAndDropEvents.tsx
  src/popup/components/BookmarkTrees/withKeyboardNav.tsx
  src/popup/components/dragAndDrop/DragAndDropConsumer.tsx
  src/popup/components/floatingWindow/useGlobalBodySize.ts
  src/popup/modules/bookmarks/methods/openBookmark.ts
  src/popup/modules/options.tsx
  webpack.config.cts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json
