Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --parser json --write, prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, markdownlint, ignore-sync

chore(deps): update dependency @babel/core to v7.4.4
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/node to v11.13.8
  package.json
  yarn.lock
Due: prettier-eslint --write

refactor: improve typescript coverage
  src/js/common/utils/getOptionsConfig.ts
  src/js/options/components/input_items/SelectMultiple/Option.tsx
  src/js/popup/components/BookmarkTree/BookmarkRow/useTooltip.ts
  src/js/popup/components/keyBindings/reducers/keyBindingsPerWindow.ts
  src/js/popup/reduxs/bookmark/saga/modules/addCurrentPage.ts
  src/js/popup/reduxs/bookmark/saga/modules/createBookmarkAfterId.ts
  src/js/popup/reduxs/bookmark/saga/modules/deleteBookmark.ts
  src/js/popup/reduxs/bookmark/saga/modules/initBookmarkTrees.ts
  src/js/popup/reduxs/bookmark/saga/modules/openBookmarkTree.ts
  src/js/popup/reduxs/bookmark/saga/modules/openBookmarksInBrowser.ts
  src/js/popup/reduxs/bookmark/saga/modules/pasteBookmark.ts
  src/js/popup/reduxs/bookmark/saga/modules/refreshBookmarkTrees.ts
  src/js/popup/reduxs/bookmark/saga/modules/sortBookmarksByName.ts
  src/js/popup/reduxs/bookmark/saga/utils/getters.ts
  src/js/popup/reduxs/editor/saga/modules/openEditor.ts
  src/js/popup/reduxs/menu/saga/modules/clickMenuRow.ts
  src/js/popup/reduxs/menu/saga/modules/openMenu.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

test: add type-coverage to ensure typescript coverage
  .huskyrc.yml
  package.json
  src/js/options/index.tsx
  src/js/popup/index.tsx
  yarn.lock
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fix(deps): update dependency typesafe-actions to v4.2.0
  package.json
  yarn.lock
Due: prettier-eslint --write

feat: open/close menu by ctrl/contextmenu key
  src/js/popup/components/BookmarkTrees/withKeyboardNav.tsx
  src/js/popup/components/Menu/index.tsx
  src/js/popup/utils/isMac.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: use eslint-plugin-redux-saga
  package.json
  src/js/common/utils/index.ts
  src/js/common/utils/sagaHelpers.ts
  src/js/options/reduxs/navigation/saga.ts
  src/js/options/reduxs/options/saga.ts
  src/js/options/reduxs/rootSaga.ts
  src/js/popup/reduxs/bookmark/saga/index.ts
  src/js/popup/reduxs/bookmark/saga/modules/addCurrentPage.test.ts
  src/js/popup/reduxs/bookmark/saga/modules/addCurrentPage.ts
  src/js/popup/reduxs/bookmark/saga/modules/addSeparator.test.ts
  src/js/popup/reduxs/bookmark/saga/modules/addSeparator.ts
  src/js/popup/reduxs/bookmark/saga/modules/createBookmark.ts
  src/js/popup/reduxs/bookmark/saga/modules/createBookmarkAfterId.ts
  src/js/popup/reduxs/bookmark/saga/modules/deleteBookmark.test.ts
  src/js/popup/reduxs/bookmark/saga/modules/deleteBookmark.ts
  src/js/popup/reduxs/bookmark/saga/modules/editBookmark.ts
  src/js/popup/reduxs/bookmark/saga/modules/getSearchResult.test.ts
  src/js/popup/reduxs/bookmark/saga/modules/getSearchResult.ts
  src/js/popup/reduxs/bookmark/saga/modules/initBookmarkTrees.test.ts
  src/js/popup/reduxs/bookmark/saga/modules/initBookmarkTrees.ts
  src/js/popup/reduxs/bookmark/saga/modules/moveBookmarkToDragIndicator.ts
  src/js/popup/reduxs/bookmark/saga/modules/openBookmarkTree.test.ts
  src/js/popup/reduxs/bookmark/saga/modules/openBookmarkTree.ts
  src/js/popup/reduxs/bookmark/saga/modules/openBookmarksInBrowser.ts
  src/js/popup/reduxs/bookmark/saga/modules/openFolderInBrowser.ts
  src/js/popup/reduxs/bookmark/saga/modules/pasteBookmark.ts
  src/js/popup/reduxs/bookmark/saga/modules/refreshBookmarkTrees.test.ts
  src/js/popup/reduxs/bookmark/saga/modules/refreshBookmarkTrees.ts
  src/js/popup/reduxs/bookmark/saga/modules/sortBookmarksByName.ts
  src/js/popup/reduxs/bookmark/saga/utils/getters.test.ts
  src/js/popup/reduxs/bookmark/saga/utils/getters.ts
  src/js/popup/reduxs/editor/saga/index.ts
  src/js/popup/reduxs/editor/saga/modules/createFolderInEditor.ts
  src/js/popup/reduxs/editor/saga/modules/openEditor.ts
  src/js/popup/reduxs/lastPositions/saga.ts
  src/js/popup/reduxs/menu/saga/index.ts
  src/js/popup/reduxs/menu/saga/modules/clickMenuRow.ts
  src/js/popup/reduxs/menu/saga/modules/openMenu.ts
  src/js/popup/reduxs/rootSaga.ts
  yarn.lock
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: only highlight dragged item when dragging
  src/js/popup/components/BookmarkTree/BookmarkRow/index.tsx
  src/js/popup/components/BookmarkTree/BookmarkTree.tsx
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fixup! feat: open/close menu by ctrl/contextmenu key
  src/js/popup/components/BookmarkTree/BookmarkRow/BookmarkRow.tsx
  src/js/popup/components/BookmarkTree/BookmarkRow/index.tsx
  src/js/popup/components/BookmarkTree/useRowClickEvents.ts
  src/js/popup/components/BookmarkTrees/withKeyboardNav.tsx
  src/js/popup/components/Editor/index.tsx
  src/js/popup/reduxs/editor/reducer.ts
  src/js/popup/reduxs/editor/types.ts
  src/js/popup/reduxs/menu/actions.ts
  src/js/popup/reduxs/menu/reducer.ts
  src/js/popup/reduxs/menu/saga/modules/clickMenuRow.ts
  src/js/popup/reduxs/menu/saga/modules/openMenu.ts
  src/js/popup/reduxs/ui/actions.ts
  src/js/popup/reduxs/ui/reducer.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency @types/webpack to v4.4.29
  package.json
  yarn.lock
Due: prettier-eslint --write

fix(deps): update dependency react-redux to v7.0.3
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency type-coverage to v2
  package.json
  yarn.lock
Due: prettier-eslint --write

refactor: use undefined as default bookmark clipboard id
  src/js/popup/reduxs/bookmark/reducer.ts
  src/js/popup/reduxs/bookmark/saga/modules/pasteBookmark.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency @types/jest to v24.0.12
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/react to v16.8.15
  package.json
  yarn.lock
Due: prettier-eslint --write

refactor: use setImmediate instead of setTimeout 0
  src/js/popup/components/BookmarkTree/BookmarkTree.tsx
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: remove unnecessary div layer for BookmarkRow
  src/js/popup/components/BookmarkTree/BookmarkRow/index.tsx
  src/js/popup/components/BookmarkTree/BookmarkTree.tsx
  src/js/popup/components/dragAndDrop/DragAndDropConsumer.tsx
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: improve typescript coverage for createFolderInEditor saga
  src/js/popup/reduxs/editor/saga/modules/createFolderInEditor.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: improve typescript coverage on generateLocalesFromTransifex
  package.json
  scripts/generateLocalesFromTransifex.ts
  src/js/common/types/transifex.d.ts
  yarn.lock
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

feat: update Norwegian Bokmål translation (Bjorn Tore Asheim)
  CHANGELOG.md
  src/_locales/nb/messages.json
Due: prettier-eslint --write, markdownlint

chore(deps): update dependency type-coverage to v2.0.1
  package.json
  yarn.lock
Due: prettier-eslint --write

refactor: improve typescript coverage on generateLocalesFromTransifex part.2
  scripts/generateLocalesFromTransifex.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: improve typescript coverage to 99.9%
  package.json
  src/js/common/store/configureStore.ts
  src/js/common/utils/renderToBody.ts
  src/js/options/components/OptionForm/OptionForm.tsx
  src/js/options/components/input_items/SelectMultiple/index.tsx
  src/js/options/components/input_items/SelectString.tsx
  src/js/popup/components/BookmarkTrees/withBookmarkEvents.tsx
  src/js/popup/components/BookmarkTrees/withDragAndDropEvents.tsx
  src/js/popup/components/BookmarkTrees/withKeyboardNav.tsx
  src/js/popup/reduxs/lastPositions/saga.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): yarn upgrade
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency husky to v2.2.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/node to v11.13.9
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/prompts to v2
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency lint-staged to v8.1.6
  package.json
  yarn.lock
Due: prettier-eslint --write

refactor: use css custom properties to replace styled-components
  package.json
  src/css/popup/app.css
  src/css/popup/bookmark-row.css
  src/css/popup/bookmark-trees.css
  src/css/popup/editor.css
  src/css/popup/mask.css
  src/js/.stylelintrc.yml
  src/js/popup/components/AbsPositionWithinBody/index.css
  src/js/popup/components/AbsPositionWithinBody/index.tsx
  src/js/popup/components/App/App.tsx
  src/js/popup/components/App/index.tsx
  src/js/popup/components/BookmarkTree/BookmarkRow/BookmarkRow.tsx
  src/js/popup/components/BookmarkTrees/BookmarkTrees.tsx
  src/js/popup/components/Editor/Editor.tsx
  src/js/popup/components/Mask.tsx
  yarn.lock
Due: prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fixup! refactor: use css custom properties to replace styled-components
  webpack.config.ts
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fixup! refactor: use css custom properties to replace styled-components
  .babelrc
  package.json
  src/css/popup/app.css
  src/js/popup/components/AbsPositionWithinBody/index.tsx
  src/js/popup/components/App/index.tsx
  src/js/popup/components/Editor/index.tsx
  src/js/popup/components/Menu/index.tsx
  src/js/popup/components/absolutePosition/AbsolutePosition.css
  src/js/popup/components/absolutePosition/AbsolutePosition.tsx
  src/js/popup/components/absolutePosition/AbsolutePositionContext.ts
  src/js/popup/components/absolutePosition/AbsolutePositionProvider.tsx
  src/js/popup/components/absolutePosition/useGlobalBodySize.ts
  src/js/popup/components/keyBindings/.stylelintrc.yml
  yarn.lock
Due: prettier-eslint --parser json --write, prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: use css custom properties to replace styled-components (#441)
  .babelrc
  package.json
  src/css/popup/app.css
  src/css/popup/bookmark-row.css
  src/css/popup/bookmark-trees.css
  src/css/popup/editor.css
  src/css/popup/mask.css
  src/js/.stylelintrc.yml
  src/js/popup/components/AbsPositionWithinBody.tsx
  src/js/popup/components/App/App.tsx
  src/js/popup/components/App/index.tsx
  src/js/popup/components/BookmarkTree/BookmarkRow/BookmarkRow.tsx
  src/js/popup/components/BookmarkTrees/BookmarkTrees.tsx
  src/js/popup/components/Editor/Editor.tsx
  src/js/popup/components/Editor/index.tsx
  src/js/popup/components/Mask.tsx
  src/js/popup/components/Menu/index.tsx
  src/js/popup/components/absolutePosition/AbsolutePosition.css
  src/js/popup/components/absolutePosition/AbsolutePosition.tsx
  src/js/popup/components/absolutePosition/AbsolutePositionContext.ts
  src/js/popup/components/absolutePosition/AbsolutePositionProvider.tsx
  src/js/popup/components/absolutePosition/useGlobalBodySize.ts
  src/js/popup/components/keyBindings/.stylelintrc.yml
  webpack.config.ts
  yarn.lock
Due: prettier-eslint --parser json --write, prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

Path conditions:
  prettier-eslint --parser json --write: any of: .babelrc
  prettier-eslint --write: ((any of: *.css) or (any of: *.{js,ts,tsx})) or (any of: *.{json,yaml,yml})
  stylelint --fix: any of: *.css
  import-sort --write: any of: *.{js,ts,tsx}
  eslint --fix: any of: *.{js,ts,tsx}
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.{js,ts,tsx}
  markdownlint: any of: *.md
  ignore-sync: any of: *ignore-sync
