Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

chore(deps): update all dependencies
  .node-version
  .renovaterc.json
  .size-limit.json
  .swcrc
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  .node-version
  .size-limit.json
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  .node-version
  .size-limit.json
  .swcrc
  package.json
  src/core/utils/isMac.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update @foray1010/common-presets monorepo (major)
  .size-limit.json
  __mocks__/browserExtension/bookmarks.ts
  __mocks__/browserExtension/storage.ts
  package.json
  src/core/constants/index.ts
  src/core/types/options.ts
  src/core/utils/isMac.ts
  src/core/utils/withProviders.tsx
  src/options/components/NavBar/index.tsx
  src/options/components/OptionForm/OptionForm.tsx
  src/options/components/OptionForm/index.tsx
  src/options/components/navigationContext.ts
  src/options/constants/index.ts
  src/popup/components/BookmarkTrees/withDragAndDropEvents.tsx
  src/popup/components/BookmarkTrees/withKeyboardNav.tsx
  src/popup/components/keyBindings/KeyBindingsContext.ts
  src/popup/components/keyBindings/KeyBindingsWindow.tsx
  src/popup/components/keyBindings/types.ts
  src/popup/components/listNavigation/useKeyboardNav.ts
  src/popup/components/menu/MenuContainer.tsx
  src/popup/components/menu/MenuRow.tsx
  src/popup/components/menu/constants.ts
  src/popup/components/menu/types.ts
  src/popup/constants/menu.ts
  src/popup/constants/windows.ts
  src/popup/index.tsx
  src/popup/modules/bookmarks/constants.ts
  src/popup/modules/bookmarks/methods/openBookmark.ts
  src/popup/modules/bookmarks/methods/sortBookmarksByName.ts
  src/popup/modules/bookmarks/types.ts
  src/popup/modules/bookmarks/utils/clickBookmark.ts
  src/popup/modules/clipboard.ts
  src/popup/modules/options.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update @foray1010/common-presets monorepo (major)
  .size-limit.json
  __mocks__/browserExtension/bookmarks.ts
  __mocks__/browserExtension/runtime.ts
  __mocks__/browserExtension/storage.ts
  eslint.config.js
  package.json
  src/core/constants/index.ts
  src/core/types/options.ts
  src/core/utils/isMac.ts
  src/core/utils/withProviders.tsx
  src/options/components/NavBar/index.tsx
  src/options/components/OptionForm/OptionForm.tsx
  src/options/components/OptionForm/index.tsx
  src/options/components/navigationContext.ts
  src/options/constants/index.ts
  src/popup/components/BookmarkTrees/withDragAndDropEvents.tsx
  src/popup/components/BookmarkTrees/withKeyboardNav.tsx
  src/popup/components/keyBindings/KeyBindingsContext.ts
  src/popup/components/keyBindings/KeyBindingsWindow.tsx
  src/popup/components/keyBindings/types.ts
  src/popup/components/listNavigation/useKeyboardNav.ts
  src/popup/components/menu/MenuContainer.tsx
  src/popup/components/menu/MenuRow.tsx
  src/popup/components/menu/constants.ts
  src/popup/components/menu/types.ts
  src/popup/constants/menu.ts
  src/popup/constants/windows.ts
  src/popup/index.tsx
  src/popup/modules/bookmarks/constants.ts
  src/popup/modules/bookmarks/methods/openBookmark.ts
  src/popup/modules/bookmarks/methods/sortBookmarksByName.ts
  src/popup/modules/bookmarks/types.ts
  src/popup/modules/bookmarks/utils/clickBookmark.ts
  src/popup/modules/clipboard.ts
  src/popup/modules/options.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update all dependencies
  .size-limit.json
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  .size-limit.json
  package.json
  scripts/generateLocalesFromTransifex.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

fix(deps): update react monorepo to v19 (major)
  .size-limit.json
  package.json
  src/core/components/baseItems/ActionlessForm/index.tsx
  src/core/components/baseItems/Button/index.tsx
  src/core/components/baseItems/Input/index.tsx
  src/core/components/baseItems/PlainList/index.tsx
  src/core/components/baseItems/Select/index.tsx
  src/core/hooks/useLatestRef.ts
  src/popup/components/BookmarkTree/BookmarkRow/index.tsx
  src/popup/components/Search/SearchInput.tsx
  src/popup/components/dragAndDrop/useDragZoneEvents.ts
  src/popup/components/keyBindings/KeyBindingsWindow.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update all dependencies
  .size-limit.json
  .swcrc
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: improve accessibility
  .size-limit.json
  package.json
  src/core/components/baseItems/ActionlessForm/index.tsx
  src/core/components/baseItems/Button/index.tsx
  src/core/components/baseItems/Button/styles.module.css
  src/core/components/baseItems/StylelessButton/index.test.tsx
  src/core/components/baseItems/StylelessButton/index.tsx
  src/core/components/baseItems/StylelessButton/styles.module.css
  src/core/hooks/useLatestRef.ts
  src/core/styles/composes.module.css
  src/options/components/ExternalLink/index.tsx
  src/options/components/OptionForm/OptionForm.tsx
  src/popup/components/Backdrop/index.tsx
  src/popup/components/BookmarkTree/BookmarkRow/BookmarkRow.tsx
  src/popup/components/BookmarkTree/BookmarkRow/bookmark-row.module.css
  src/popup/components/dragAndDrop/DragAndDropConsumer.tsx
  src/popup/components/editor/EditorForm.tsx
  src/popup/components/menu/MenuRow.tsx
  src/popup/components/menu/menu-row.module.css
  yarn.lock
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

refactor: use css color-mix
  .browserslistrc
  .size-limit.json
  src/core/styles/globals.module.css
  src/options/components/NavBar/styles.module.css
  src/options/components/OptionForm/OptionItem/InputSelect/styles.module.css
  src/options/components/OptionForm/OptionItem/SelectButton/styles.module.css
  src/popup/components/App/globals.module.css
  src/popup/components/Backdrop/backdrop.module.css
  src/popup/components/Backdrop/index.tsx
  src/popup/components/BookmarkTree/bookmark-tree.module.css
  src/popup/components/BookmarkTree/tree-header.module.css
  src/popup/components/editor/editor-form.module.css
  src/popup/components/menu/menu.module.css
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fix(accessibility): some buttons are not announced correctly by VoiceOver
  .size-limit.json
  src/popup/components/BookmarkTree/BookmarkRow/BookmarkRow.tsx
  src/popup/components/BookmarkTree/TreeHeader.tsx
  src/popup/components/BookmarkTree/tree-header.module.css
  src/popup/components/Search/SearchInput.tsx
  src/popup/components/Search/search-input.module.css
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: replace `react-hook-form` with `@tanstack/react-form`
  .size-limit.json
  package.json
  src/core/components/baseItems/Button/styles.module.css
  src/options/components/OptionForm/OptionForm.tsx
  src/popup/components/editor/EditorForm.tsx
  yarn.lock
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update all dependencies
  .node-version
  .size-limit.json
  .swcrc
  README.md
  eslint.config.js
  markdown/developer_guide.md
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, sort-package-json

chore(deps): update all dependencies
  .node-version
  .size-limit.json
  .swcrc
  README.md
  eslint.config.js
  markdown/developer_guide.md
  package.json
  svgo.config.mjs
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, sort-package-json

refactor: migrate to rspack
  .size-limit.json
  Makefile
  __mocks__/browserExtension/i18n.ts
  manifest.ts
  package.json
  plugins/GenerateJsonPlugin.ts
  rspack.config.ts
  scripts/generateLocalesFromTransifex.ts
  src/core/components/baseItems/Button/index.tsx
  src/manifest.yml
  src/options/index.tsx
  src/popup/components/BookmarkTree/BookmarkRow/BookmarkRow.tsx
  src/popup/components/BookmarkTree/TreeHeader.tsx
  src/popup/index.tsx
  src/public/_locales/de/messages.json
  src/public/_locales/en/messages.json
  src/public/_locales/es/messages.json
  src/public/_locales/fr/messages.json
  src/public/_locales/it/messages.json
  src/public/_locales/ko/messages.json
  src/public/_locales/nb/messages.json
  src/public/_locales/nl/messages.json
  src/public/_locales/pt/messages.json
  src/public/_locales/ru/messages.json
  src/public/_locales/sv/messages.json
  src/public/_locales/vi/messages.json
  src/public/_locales/zh_CN/messages.json
  src/public/_locales/zh_TW/messages.json
  src/public/images/icon128.png
  src/public/images/icon16.png
  src/public/images/icon38.png
  src/public/images/icon48.png
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update node.js to v22.18.0
  .circleci/config.yml
  .node-version
  Makefile
  package.json
Due: yarn prettier --write, sort-package-json

chore: remove webpack-bundle-analyzer as it is included in rspack
  package.json
  rspack.config.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore: ensure all makefile commands have .PHONY
  Makefile
Due: none

ci: fix type-coverage command
  Makefile
Due: none

ci: shorten the output in build-css-types and type-coverage commands
  Makefile
Due: none

ci: integrate rsdoctor
  package.json
  rspack.config.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

refactor: replace html-webpack-plugin by builtin html rspack plugin
  .size-limit.json
  package.json
  rspack.config.ts
  src/template.html
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update all dependencies
  .node-version
  .size-limit.json
  .swcrc
  package.json
  scripts/generateLocalesFromTransifex.ts
  src/popup/modules/bookmarks/methods/openBookmark.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update all dependencies
  .circleci/config.yml
  .node-version
  .size-limit.json
  __mocks__/browserExtension/i18n.ts
  __mocks__/browserExtension/storage.ts
  jest.config.ts
  package.json
  src/popup/modules/bookmarks/methods/openBookmark.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update all dependencies
  .circleci/config.yml
  .node-version
  .size-limit.json
  .swcrc
  __mocks__/browserExtension/i18n.ts
  __mocks__/browserExtension/storage.ts
  jest.config.ts
  package.json
  scripts/generateLocalesFromTransifex.ts
  src/popup/modules/bookmarks/methods/openBookmark.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update dependency @foray1010/stylelint-config to v17
  .size-limit.json
  package.json
  src/core/styles/globals.module.css
  src/popup/components/Backdrop/backdrop.module.css
  src/popup/components/menu/menu.module.css
  yarn.lock
Due: yarn prettier --write, yarn stylelint --fix, sort-package-json

chore: use consistent steps for highlight colors
  .size-limit.json
  src/core/styles/globals.module.css
Due: yarn prettier --write, yarn stylelint --fix

chore(deps): update all dependencies
  .browserslistrc
  .circleci/config.yml
  .node-version
  .size-limit.json
  .swcrc
  .yarnrc.yml
  README.md
  markdown/contributing.md
  markdown/developer_guide.md
  package.json
  src/core/components/baseItems/ActionlessForm/index.test.tsx
  src/core/components/baseItems/Button/index.test.tsx
  src/core/components/baseItems/StylelessButton/index.test.tsx
  src/core/styles/composes.module.css
  src/core/styles/globals.module.css
  src/core/utils/isMac.ts
  src/options/components/NavBar/styles.module.css
  src/options/components/OptionForm/OptionItem/SelectButton/Option/styles.module.css
  src/popup/components/BookmarkTree/no-search-result.module.css
  src/popup/components/BookmarkTree/tree-header.module.css
  src/popup/components/editor/editor-form.module.css
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, sort-package-json

chore(deps): update all dependencies
  .browserslistrc
  .circleci/config.yml
  .node-version
  .renovaterc.json
  .size-limit.json
  .swcrc
  .yarnrc.yml
  README.md
  markdown/contributing.md
  markdown/developer_guide.md
  package.json
  rspack.config.ts
  src/core/components/baseItems/ActionlessForm/index.test.tsx
  src/core/components/baseItems/Button/index.test.tsx
  src/core/components/baseItems/StylelessButton/index.test.tsx
  src/core/styles/composes.module.css
  src/core/styles/globals.module.css
  src/core/utils/createAndRenderRoot.ts
  src/core/utils/isMac.ts
  src/options/components/NavBar/styles.module.css
  src/options/components/OptionForm/OptionItem/SelectButton/Option/styles.module.css
  src/popup/components/BookmarkTree/no-search-result.module.css
  src/popup/components/BookmarkTree/tree-header.module.css
  src/popup/components/editor/editor-form.module.css
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, sort-package-json

Path conditions:
  yarn prettier --write: ((((any of: *.css) or (any of: *.{js,ts,tsx})) or (any of: *.{json,yaml,yml})) or (any of: *.md)) or (any of: package.json)
  yarn stylelint --fix: any of: *.css
  yarn eslint --fix: any of: *.{js,ts,tsx}
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.{js,ts,tsx}
  yarn remark: any of: *.md
  ignore-sync: any of: *ignore-sync
  sort-package-json: any of: package.json
