Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn stylelint --fix, import-sort --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

.lintstagedrc.yml:

'*.css':
  - 'yarn prettier --write'
  - 'yarn stylelint --fix'
  - 'git add'
'*.{js,ts,tsx}':
  - 'import-sort --write'
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
  - 'jest --bail --findRelatedTests --config .jestrc.json'
  - 'git add'
'*.{json,yaml,yml}':
  - 'yarn prettier --write'
  - 'git add'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
  - 'git add'
'*ignore-sync':
  - 'ignore-sync'
  - 'git add'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'
  - 'git add'

chore(deps): update dependency ts-node to v8.5.4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency core-js to v3.4.5
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency style-loader to v1.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

feat: support dark mode
  .postcssrc.yml
  src/core/styles/composes.css
  src/core/styles/globals.css
  src/core/styles/variables.css
  src/options/components/NavBar/nav-bar-item.css
  src/options/components/donate.css
  src/options/components/input_items/SelectButton/select-button-option.css
  src/options/components/input_items/SelectButton/select-button.css
  src/options/components/input_items/input-select.css
  src/popup/components/App/globals.css
  src/popup/components/BookmarkTree/bookmark-tree.css
  src/popup/components/BookmarkTree/index.tsx
  src/popup/components/BookmarkTree/tree-header.css
  src/popup/components/Editor/editor.css
  src/popup/components/Editor/index.tsx
  src/popup/components/Mask.tsx
  src/popup/components/Menu/index.tsx
  src/popup/components/Menu/menu.css
  src/popup/components/mask.css
Due: yarn prettier --write, yarn stylelint --fix, import-sort --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

build: remove duplicated css
  .postcssrc.yml
  package.json
  src/core/styles/composes.css
  src/core/styles/globals.css
  src/core/styles/mixins.css
  src/core/styles/variables.css
  src/options/components/NavBar/nav-bar-item.css
  src/options/components/NavBar/nav-bar.css
  src/options/components/OptionForm/option-form.css
  src/options/components/OptionForm/option-item.css
  src/options/components/contributors.css
  src/options/components/donate.css
  src/options/components/external-link.css
  src/options/components/input_items/SelectButton/select-button-option.css
  src/options/components/input_items/SelectButton/select-button.css
  src/options/components/input_items/SelectMultiple/select-multiple.css
  src/options/components/input_items/input-select.css
  src/popup/components/App/globals.css
  src/popup/components/BookmarkTree/BookmarkRow/bookmark-row.css
  src/popup/components/BookmarkTree/bookmark-tree.css
  src/popup/components/BookmarkTree/no-search-result.css
  src/popup/components/BookmarkTree/tree-header.css
  src/popup/components/BookmarkTrees/bookmark-trees.css
  src/popup/components/Editor/editor.css
  src/popup/components/Menu/menu-item.css
  src/popup/components/Menu/menu.css
  src/popup/components/Search/search.css
  yarn.lock
Due: yarn prettier --write, yarn stylelint --fix, sort-package-json

fixup! feat: support dark mode
  src/core/styles/globals.css
Due: yarn prettier --write, yarn stylelint --fix

chore(release): 7.0.0
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn remark, sort-package-json

docs: update CHANGELOG.md
  CHANGELOG.md
Due: yarn prettier --write, yarn remark

chore(deps): update dependency bluebird to v3.7.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix: chrome 78 cannot open options page
  src/options/components/app.css
Due: yarn prettier --write, yarn stylelint --fix

chore(release): 7.0.1
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update dependency eslint to v6.7.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: require nodejs 12
  .circleci/config.yml
  package.json
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency css-loader to v3.2.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency core-js to v3.4.7
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency sort-package-json to v1.30.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency typescript to v3.7.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @babel/core to v7.7.5
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency chance to v1.1.4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency sharp to v0.23.4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency terser-webpack-plugin to v2.2.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update dependency chance to v1.1.4
  src/popup/reduxs/bookmark/saga/__fixtures__/searchResult.ts
  src/popup/reduxs/bookmark/saga/__fixtures__/searchTitleOnlyResult.ts
  src/popup/reduxs/bookmark/saga/utils/__snapshots__/getters.test.ts.snap
Due: yarn prettier --write, import-sort --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency eslint-plugin-redux-saga to v1.1.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update @foray1010/common-presets monorepo
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/ramda to v0.26.38
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json
