Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

chore(deps): lock file maintenance
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: drop deprecated goo.gl
  README.md
  markdown/contributing.md
  src/options/components/Donate.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark

chore(deps): update @foray1010/common-presets monorepo
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): upgrade all dependencies
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: rewrite useKeyBindingsEvent with use-deep-compare
  package.json
  src/popup/components/keyBindings/useKeyBindingsEvent.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update dependency terser-webpack-plugin to v4
  package.json
  webpack.config.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update dependency @foray1010/eslint-config to v3.7.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @testing-library/react to v10.4.8
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update babel monorepo
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency @types/jest to v26.0.9
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency css-loader to v4.2.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): lock file maintenance
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/react to v16.9.46
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency mini-css-extract-plugin to v0.10.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency terser-webpack-plugin to v4.1.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency jest to v26.4.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update commitlint monorepo to v9.1.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  .huskyrc.yml
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: simplify search input
  src/popup/components/Search/Search.tsx
  src/popup/components/Search/SearchInput.tsx
  src/popup/components/Search/index.tsx
  src/popup/components/Search/search-input.css
  src/popup/reduxs/ui/actions.ts
  src/popup/reduxs/ui/reducer.ts
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: simplify code
  src/popup/components/BookmarkTree/BookmarkTree.tsx
  src/popup/components/BookmarkTrees/withKeyboardNav.tsx
  src/popup/components/absolutePosition/AbsolutePosition.tsx
  src/popup/components/absolutePosition/AbsolutePositionContext.ts
  src/popup/components/dragAndDrop/DragAndDropContext.ts
  src/popup/components/dragAndDrop/useDragAndDropContainerEvents.ts
  src/popup/components/keyBindings/KeyBindingsContext.ts
  src/popup/components/keyBindings/KeyBindingsWindow.tsx
  src/popup/components/listNavigation/useKeyboardNav.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency @types/node to v14.6.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): upgrade to typescript v4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: remove hack for react-window outerRef
  src/popup/components/BookmarkTree/BookmarkTree.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

Path conditions:
  yarn prettier --write: ((((any of: *.css) or (any of: *.{js,ts,tsx})) or (any of: *.{json,yaml,yml})) or (any of: *.md)) or (any of: package.json)
  yarn stylelint --fix: any of: *.css
  yarn eslint --fix: any of: *.{js,ts,tsx}
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.{js,ts,tsx}
  yarn remark: any of: *.md
  ignore-sync: any of: *ignore-sync
  sort-package-json: any of: package.json
