Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

refactor: reduce unnecessary useEffect hooks
  src/popup/components/Search/index.tsx
  src/popup/modules/bookmarks/contexts/bookmarkTrees.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update all dependencies
  .node-version
  package.json
  scripts/generateLocalesFromTransifex.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

feat: increase search input height
  src/popup/components/Search/search-input.module.css
  src/popup/images/cross.svg
  src/popup/images/folder.svg
  src/popup/images/search.svg
Due: yarn prettier --write, yarn stylelint --fix

chore(deps): update all dependencies
  .node-version
  .size-limit.json
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: run svgo for all svg files during precommit
  .lintstagedrc.mjs
  package.json
  svgo.config.mjs
  webpack.config.cts
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  .size-limit.json
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: update chrome extension link
  .size-limit.json
  README.md
  markdown/title.md
  src/options/components/Donate.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark

chore(deps): update all dependencies
  .size-limit.json
  eslint.config.js
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update all dependencies
  .node-version
  .size-limit.json
  eslint.config.js
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update all dependencies
  .husky/commit-msg
  .husky/pre-commit
  .node-version
  .size-limit.json
  __mocks__/browserExtension/runtime.ts
  eslint.config.js
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore: update to eslint v9
  __mocks__/browserExtension/bookmarks.ts
  package.json
  scripts/generateLocalesFromTransifex.ts
  src/core/utils/isMac.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update all dependencies
  .circleci/config.yml
  .node-version
  .size-limit.json
  __mocks__/browserExtension/storage.ts
  package.json
  src/core/types/assets.d.ts
  src/popup/modules/bookmarks/contexts/bookmarkTrees.ts
  webpack.config.mts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

feat: support Portuguese locale (thanks Ubelloch)
  .size-limit.json
  src/core/_locales/pt/messages.json
  src/options/components/Contributors.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(release): 8.1.0
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix: cannot search during IME composition
  .size-limit.json
  src/popup/components/Search/index.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(release): 8.1.1
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update all dependencies
  README.md
  markdown/title.md
  package.json
  src/popup/components/dragAndDrop/index.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, sort-package-json

refactor: replace svgr with svg-use
  .size-limit.json
  jest.config.mjs
  package.json
  src/core/types/assets.d.ts
  src/popup/components/BookmarkTree/TreeHeader.tsx
  src/popup/components/Search/SearchInput.tsx
  webpack.config.mts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore: no longer need to pin caniuse-lite version
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  .size-limit.json
  package.json
  src/core/utils/isMac.ts
  src/popup/components/dragAndDrop/useDragZoneEvents.ts
  src/popup/components/keyBindings/KeyBindingsContext.ts
  src/popup/modules/bookmarks/methods/openBookmark.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update dependency node to v22
  .circleci/config.yml
  .node-version
  Makefile
  package.json
  register-ts-node.js
  scripts/generateLocalesFromTransifex.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update all dependencies
  .renovaterc.json
  .size-limit.json
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  .node-version
  .renovaterc.json
  .size-limit.json
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

Path conditions:
  yarn prettier --write: ((((any of: *.css) or (any of: *.{js,ts,tsx})) or (any of: *.{json,yaml,yml})) or (any of: *.md)) or (any of: package.json)
  yarn stylelint --fix: any of: *.css
  yarn eslint --fix: any of: *.{js,ts,tsx}
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.{js,ts,tsx}
  yarn remark: any of: *.md
  ignore-sync: any of: *ignore-sync
  sort-package-json: any of: package.json
