Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update babel monorepo to v7.14.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): lock file maintenance
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency mini-css-extract-plugin to v1.6.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency type-coverage to v2.17.5
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! refactor: move absolutePosition to floatingWindow
  src/popup/components/floatingWindow/FloatingWindow.tsx
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: move clipboard from redux to react context
  src/core/utils/webExtensionWrapper.ts
  src/popup/components/App/index.tsx
  src/popup/components/clipboard/index.ts
  src/popup/components/menu/MenuContainer.tsx
  src/popup/modules/bookmarks/methods/copyBookmark.ts
  src/popup/reduxs/bookmark/actions.ts
  src/popup/reduxs/bookmark/reducer.ts
  src/popup/reduxs/bookmark/saga/index.ts
  src/popup/reduxs/bookmark/saga/modules/pasteBookmark.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fixup! refactor: migrate deleteBookmark from redux to react-query
  src/popup/components/menu/MenuContainer.tsx
  src/popup/modules/bookmarks/hooks/useDeleteBookmark.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: move unnecessary hooks to methods
  src/popup/components/editor/Editor.tsx
  src/popup/components/menu/MenuContainer.tsx
  src/popup/modules/bookmarks/hooks/createBookmark.ts
  src/popup/modules/bookmarks/hooks/useEditBookmark.ts
  src/popup/modules/bookmarks/methods/createBookmark.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency stylelint to v13.13.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency react-query to v3.15.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: split useClickMenuRow
  src/popup/components/menu/MenuContainer.tsx
  src/popup/components/menu/useMenu.ts
  src/popup/modules/bookmarks/hooks/useGetBookmarkInfo.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update node.js to v15
  .circleci/config.yml
Due: yarn prettier --write

chore(deps): update dependency @types/react to v17.0.5
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @foray1010/eslint-config to v5.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/bluebird to v3.5.34
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/node to v15.0.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency postcss to v8.2.14
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/mini-css-extract-plugin to v1.4.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency webpack-cli to v4.7.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v11
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency @fontsource/archivo-narrow to v4.3.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.26.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

Path conditions:
  yarn prettier --write: ((((any of: *.css) or (any of: *.{js,ts,tsx})) or (any of: *.{json,yaml,yml})) or (any of: *.md)) or (any of: package.json)
  yarn stylelint --fix: any of: *.css
  yarn eslint --fix: any of: *.{js,ts,tsx}
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.{js,ts,tsx}
  yarn remark: any of: *.md
  ignore-sync: any of: *ignore-sync
  sort-package-json: any of: package.json
