Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

chore(deps): update dependency copy-webpack-plugin to v8.1.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency mini-css-extract-plugin to v1.4.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency typescript to v4.2.4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @babel/core to v7.13.15
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/ramda to v0.27.40
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency css-loader to v5.2.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @testing-library/user-event to v13.1.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency css-minimizer-webpack-plugin to v2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update dependency css-minimizer-webpack-plugin to v2
  webpack.config.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency eslint to v7.24.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency postcss to v8.2.10
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency webpack to v5.33.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update dependency webpack to v5.33.2
  yarn.lock
Due: none

chore(deps): update dependency type-coverage to v2.17.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency react-query to v3.13.9
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/webpack-bundle-analyzer to v3.9.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency webpack-bundle-analyzer to v4.4.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/node to v14.14.41
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency react-virtual to v2.7.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: include external css in test
  .postcssrc.yml
  __mocks__/styleMock.ts
  jest-css-modules-transform-config.js
  jest.config.ts
  package.json
  postcss.config.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore: remove unnecessary ts hack
  webpack.config.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: improve extension storage mock typings
  __mocks__/browserExtension/storage.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fix(deps): update dependency react-query to v3.13.10
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: type check css class names
  package.json
  src/core/components/baseItems/Input/index.tsx
  src/core/components/baseItems/Input/styles.css
  src/core/styles/composes.css
  src/core/types/css.d.ts
  src/options/components/OptionForm/OptionForm.tsx
  src/options/components/OptionForm/OptionItem/SelectButton/Option/index.tsx
  src/options/components/OptionForm/OptionItem/SelectButton/Option/styles.css
  src/options/components/OptionForm/option-form.css
  src/popup/components/BookmarkTree/BookmarkRow/bookmark-row.css
  src/popup/components/BookmarkTree/BookmarkRow/index.tsx
  src/popup/components/BookmarkTree/BookmarkTree.tsx
  src/popup/components/BookmarkTree/bookmark-tree.css
  src/popup/components/BookmarkTree/no-search-result.css
  src/popup/components/BookmarkTree/tree-header.css
  src/popup/components/Search/SearchInput.tsx
  src/popup/components/Search/search-input.css
  src/popup/components/menu/menu-row.css
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn stylelint --fix, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

Path conditions:
  yarn prettier --write: ((((any of: *.css) or (any of: *.{js,ts,tsx})) or (any of: *.{json,yaml,yml})) or (any of: *.md)) or (any of: package.json)
  yarn stylelint --fix: any of: *.css
  yarn eslint --fix: any of: *.{js,ts,tsx}
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.{js,ts,tsx}
  yarn remark: any of: *.md
  ignore-sync: any of: *ignore-sync
  sort-package-json: any of: package.json
